@model ERPMVC.Models.CustomerDocument

<script>
    function SaveCustomerDocument(e) {


        //var formdata = new FormData($('#CustomerDocument').get(0)); 

        var dataObject = {
            'CustomerDocumentId': $("#CustomerDocumentId").val(),
            'CustomerId': $("#CustomerId").val(),
            'DocumentTypeId': $("#DocumentTypeId").val(),
            'DocumentTypeName': $("#DocumentTypeId").data("kendoDropDownList").text(),
            'DocumentName': $("#DocumentName").val(),           
            // 'Path': $("#Path").val(),
            //'FechaCreacion': $("#FechaCreacion").val(),
            //'FechaModificacion': $("#FechaModificacion").val(),
            //'UsuarioCreacion': $("#UsuarioCreacion").val(),
            //'UsuarioModificacion': $("#UsuarioModificacion").val() 
        };

        e.data = dataObject;

           @*$.ajax({
            url: '@Url.Action("SaveCustomerDocument", "CustomerDocument")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
               async: false,
               data: formdata,
               success: function (result) {
                   //console.log(result);
                   //debugger;
                   $("#ConditionView").html('');
                   $("#ConditionView").html(result);

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });*@
    }

    function closeCustomerDocument() {
        $('#myModalCustomerAuthorizedSignature').find(':input').not(':submit').val('0');
        // $('#myModalCustomerAuthorizedSignature').find(':select').not(':submit').val('0');
        //$("#ProductId").data("kendoDropDownList").value(0);
        //$("#BranchId").data("kendoDropDownList").value(0);
        //$("#TypeId").data("kendoDropDownList").value(0);
        //$("#CustomerId").data("kendoDropDownList").value(0);

     //   RefreshGridCustomerAuthorizedSignature();
        $("#myModalCustomerDocumentUpload").modal('hide');
    }
</script>


<div id="myModalCustomerDocumentUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCustomerDocument();">&times;</button>
                <h4 class="modal-title">Información Control de ingresos</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .pdf, .jpeg, .png y .txt
                </div>

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*data-ajax-method="post"
                            method="post"
                            data-ajax-begin="return SaveCustomerDocument();"
                            data-ajax="true"*@

                            <div class="card-body">
                                <form id="CustomerDocument"
                                    data-ajax="true"   >


                                    <div class="row">
                                        <div class="col-md-3">
                                            <script>
                                                function GetDocumentos() {
                                                    return { 'Id': 9 }
                                                }
                                            </script>
                                            <label asp-for="DocumentTypeId" class="control-label" style="width:100%"></label>
                                            <kendo-dropdownlist name="DocumentTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccion el tipo de documento"
                                                                for="DocumentTypeId"
                                                                datatextfield="Nombre"
                                                                datavaluefield="Id"
                                                                auto-bind="false"
                                                                required
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                    <transport>
                                                        <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GetDocumentos" />
                                                    </transport>
                                                </datasource>

                                            </kendo-dropdownlist>
                                            <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            @*<label asp-for="DocumentName" class="control-label" style="width:100%"></label>
                                            <input type="text" class="form-control" style="min-width:100%" asp-for="DocumentName" />*@
                                        </div>
                                        <div class="col-md-3">
                                        </div>

                                    </div>



                                    <div class="demo-section k-content">
                                        
                                        <kendo-upload drop-zone="drop-zone1" name="files"  on-upload="SaveCustomerDocument" >
                                            <async save-url="@Url.Action("SaveCustomerDocument","CustomerDocument")" />
                                            <validation allowed-extensions='@new string[] { ".pdf",".jpg",".png",".txt" }' max-file-size="10485760" />
                                        </kendo-upload>

                                        @*<p style="padding-top: 1em; text-align: right">
                                            <kendo-button type="submit" name="submit">Submit</kendo-button>
                                        </p>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
