@model ERPMVC.DTO.EmpresaDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }


</script>



<div id="ModalEmpresa" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Empresa</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmEmpresa" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveEmpresa"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Empresa</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEmpresa" class=" control-label" style="width:100%">Id Empresa</label>
                                                    <input type="text" asp-for="IdEmpresa" name="IdEmpresa" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdEmpresa" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreEmpresa" class=" control-label" style="width:100%">Nombre Empresa</label>
                                                    <input type="text" asp-for="NombreEmpresa" name="NombreEmpresa" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreContacto" class=" control-label" style="width:100%">Nombre Contacto</label>
                                                    <input type="text" asp-for="NombreContacto" name="NombreContacto" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="NombreContacto" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Telefono" class=" control-label" style="width:100%">Teléfono</label>
                                                    <input type="text" asp-for="Telefono" name="Telefono" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class=" control-label" style="width:100%">Dirección</label>
                                                    <input type="text" asp-for="Direccion" name="Direccion" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnEmpresa" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveEmpresa(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnEmpresa").hide();
            $("#btnEmpresa").prop("disabled", true);

            var displayedData = $("#gridEmpresa").data().kendoGrid.dataSource.view();

            var dataObject = {
                'IdEmpresa': $("#IdEmpresa").val() === "" ? "0" : $("#IdEmpresa").val(),
                'NombreEmpresa': $("#NombreEmpresa").val(),
                'NombreContacto': $("#NombreContacto").val(),
                'Telefono': $("#Telefono").val(),
                'Direccion': $("#Direccion").val(),
                           //'FechaModificacion':$("#FechaModificacion").val(),
                           //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           //'_Empresa': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmEmpresa").data("kendoValidator");
                 var status = $(".status");
            console.log(validator)
            console.log('VERIFICAR',displayedData.length)

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveEmpresa", "Empresa")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalEmpresa').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
           

            $("#btnEmpresa").show();
            $("#btnEmpresa").prop("disabled", false);
    }
</script>
