@model ERPMVC.Models.CustomerPhones

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        {"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Largo" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "UsedArea" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Ancho" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Alto" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closeCustomerPhones() {
        $('#myModalCustomerPhones').find(':input').not(':submit').val('0');
        // $('#myModalCustomerPhones').find(':select').not(':submit').val('0');
        //$("#ProductId").data("kendoDropDownList").value(0);
        //$("#BranchId").data("kendoDropDownList").value(0);
        //$("#TypeId").data("kendoDropDownList").value(0);
        //$("#CustomerId").data("kendoDropDownList").value(0);

        RefreshGridCustomerPhones();
        $("#myModalCustomerPhones").modal('hide');
    }

    function RefreshGridCustomerPhones() {
        var grid = $("#gridCustomerPhones").getKendoGrid();
        grid.dataSource.read();
        grid.refresh();
    }
</script>


<div id="myModalCustomerPhones" class="modal fade" style="min-width:90%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCustomerPhones();">&times;</button>
                <h4 class="modal-title">Información telefonos por cliente</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmCustomerPhones" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="CustomerPhoneId" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="CustomerPhoneId"
                                                                          format="n"
                                                                          enable="false"
                                                                          min="0"
                                                                          style="width:100%"
                                                                          step="1"
                                                                          value="Model.CustomerPhoneId"></kendo-numerictextbox>

                                                    <span asp-validation-for="CustomerPhoneId" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function CustomerPhones() {

                                                           // hcustom = $("#CustomerId").val();
                                                          //  $("#CustomerPhonesProduct").data("kendoMultiSelect").dataSource.read();

                                                        }
                                                    </script>
                                                    <label asp-for="CustomerId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist for="@Model.CustomerId"
                                                                        id="CustomerIdCPhone"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Cliente"
                                                                        enable="false"
                                                                        required
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"                                                                       
                                                                        style="width: 100%;">

                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="10000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Phone" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="PhoneCPhones" asp-for="Phone" class="k-textbox"  style="min-width:100%" />
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                    @*<button type="button" onclick="return RefreshOFAC();" class="k-button k-primary"><i class="fa fa-search"></i>LISTADOS</button>*@
                                                </div>
                                            </div>


                                        </div>

                                     




                                    </form>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <button id="btnSaveCustomerPhones" type="submit" class="form-control btn-miboton" onclick="SaveCustomerPhones(this);">Guardar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveCustomerPhones(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveCustomerPhones").hide();
        $("#btnSaveCustomerPhones").prop("disabled", true);

     
        //var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();

        var dataObject = {
            'CustomerPhoneId': $("#CustomerPhoneId").val(),
            'CustomerId': $("#CustomerIdCPhone").val(),
            'CustomerName': $("#CustomerIdCPhone").data("kendoDropDownList").text(),
            'Phone': $("#PhoneCPhones").val(),
        };

        var validator = $("#frmCustomerPhones").data("kendoValidator");
        //var validator2 = $("#TotalesDocumento").data("kendoValidator");
       // var status = $(".status");

       // if (displayedData.length > 0) {
            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveCustomerPhones", "CustomerPhones")',
                    method: 'POST',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify( dataObject),
                    success: function (data) {

                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        //RefreshGridEstibas();
                       // $('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveCustomerPhones").show();
                        $("#btnSaveCustomerPhones").prop("disabled", false);
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                $("#btnSaveCustomerPhones").show();
                $("#btnSaveCustomerPhones").prop("disabled", false);

            }
        //}
        //else {
        //    $("#btnSaveControlEstiba").show();
        //    $("#btnSaveControlEstiba").prop("disabled", false);
        //    notification.show({
        //        title: "Validacion",
        //        message: "Debe agregar los productos!"
        //    }, "error");

       // }



    }
</script>