@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Reglas Moratorias";
}

<script>

    function Agregar() {

         var dataObject = {
             Id: 0
        };

        $.ajax({
            url: '@Url.Action("pvwAddMoras", "Moras")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
                $("#NumMoras").html('');
                $("#NumMoras").html(result);


                //$("#btnCAI").hide();
                $('#ModalMoras').modal('show');
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 swal("Error", textStatus, "error");
              }
        });


    }

         function EditMoras(e) {
             e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var dataObject = {
                Id: dataItem.Id,
                editar : 0
             };

            $.ajax({
                url: '@Url.Action("pvwAddMoras", "Moras")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    $("#NumMoras").html('');
                    $("#NumMoras").html(result);


                    //$("#btnCAI").hide();
                    $('#ModalMoras').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
         }


    //funcion para eliminar
    function Delete(e) {
        if (confirm('¿Seguro que quiere eliminar este registro?')) {
            debugger
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $.ajax({
               url: '@Url.Action("Delete","Moras")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataItem),
                success: function (data) {
                    var grid = $("#gridNumeracionMoras").data("kendoGrid");
                    grid.dataSource.remove(dataItem);
                    $("#titulo").text("Eliminar Regla Moratoria");
                },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                     swal(textStatus + ": " + XMLHttpRequest.responseText + textStatus);
                  }
            });
        }
    }

</script>

<h3 class="text-themecolor">Reglas Moratorias</h3>
@(Html.Kendo().Grid<ERPMVC.Models.Moras>
                        ()
                        .Name("gridNumeracionMoras")
                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                //command.Custom("Ver detalles").Click("Detalles");
                                command.Custom("Editar").Text(" ").IconClass("fa fa-edit").Click("EditMoras");
                                command.Custom("Eliminar").Click("Delete").IconClass("fa fa-trash").Text(" ");
                            }).Width(100).Title("Acciones");
                            columns.Bound(p => p.Id).Width(70).Title("No");
                            columns.Bound(p => p.Nombre).Width(100).Title("Nombre");
                            columns.Bound(p => p.Estado).Width(100);
                            columns.Bound(p => p.MinDias).Width(100);
                            columns.Bound(p => p.MaxDias).Width(100);
                            columns.Bound(p => p.Intereses).Width(100);



                        })
                            .Filterable(f => f.Operators(o => o.ForString(s => s
                                                   .Clear()
                                                   .Contains("Contiene")
                                                   .DoesNotContain("No contiene")
                                                   .EndsWith("Termina con")
                                                   .IsEqualTo("Es igual a")
                                                   .IsNotEqualTo("No es igual a")
                                                   .IsNull("Es nulo")
                                                   .StartsWith("Inicia con")


                                             )
                                             .ForNumber(n => n
                                               .Clear()
                                               .IsEqualTo("Es igual a")
                                               .IsGreaterThan("Es mayor que")
                                               .IsLessThan("Es menor que")
                                               .IsNull("Es nulo")
                                               .IsLessThanOrEqualTo("Es menor o igual que")
                                               .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             )
                                             .ForDate(d => d
                                             .Clear()
                                             .IsEqualTo("Es igual que")
                                             .IsGreaterThan("Es mayor que")
                                             .IsLessThan("Es menor que")
                                             .IsLessThanOrEqualTo("Es menor o igual que")
                                             .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             .IsNotEqualTo("No es igual que")
                                              )
                                           ))
                        .ToolBar(tools =>
                        {
                            // tools.Create();
                            tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                                                   .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "Agregar()" });
                            tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                            tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });



                        })
                        .Editable(e => e.Mode(GridEditMode.PopUp).ConfirmDelete("¿Esta seguro que desea eliminar este registro?"))
                        .Sortable()
                        .Pageable()
                        .Filterable()
                        .Scrollable()
                        .Pdf(pdf => pdf.FileName("MorasReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                        .ProxyURL(Url.Action("Export", "Home")).AllPages())
                            .Excel(excel => excel.FileName("MorasReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                        .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                        .DataSource(dataSource =>
                            dataSource
                            .WebApi()

                            .ServerOperation(true)
                            .Model(model =>
                            {
                                model.Id(p => p.Id);
                                model.Field(p => p.Id).Editable(false);

                            })
                            .Events(events => events.Error("error_handler"))
                            .Read(read => read.Action("GetMora", "Moras"))
                            .Create(create => create.Action("Insert", "Moras"))
                            .Update(update => update.Action("Update", "Moras", new { Id = "{0}" }).Type(HttpVerbs.Put))
                            .Destroy(destroy => destroy.Action("Delete", "Moras").Type(HttpVerbs.Post))

                        )

)

<script>
    //para los tools tips
    function setToolbarTooltip(btn_cl, btn_tooltip) {
        $("#gridNumeracionMoras").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    function setRowButtonTooltip(btn_cl, btn_tooltip) {
        $("#gridNumeracionMoras").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }
    setToolbarTooltip(".k-grid-Agregar", "Agregar nuevo registro");

    //setRowButtonTooltip(".k-grid-edit", "Tooltip for Edit button");
    setRowButtonTooltip(".k-grid-Eliminar", "Eliminar registro");
    setRowButtonTooltip(".k-grid-Imprimir", "Imprimir");
    setRowButtonTooltip(".k-grid-ImprimirBoletaDeSalida", "Imprimir Boleta de salida");
    setRowButtonTooltip(".k-grid-Editar", "Editar registro");
</script>

<div id="NumMoras">
    @await Html.PartialAsync("pvwAddMoras", new ERPMVC.DTO.MorasDTO { Id = 0 })
</div>