@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Pago de Prima";
}



<script>
    function GetContratoId() {
        return { ContratoId: $("#ContratoId").val() }
    }
</script>


<div id="ContratoDetail">
    @await Html.PartialAsync("pvwPagoPrimaDetail", new ERPMVC.Models.Contrato_movimientos { Contrato_movimientosId = 0, ContratoId = Model.ContratoId, Fechamovimiento = DateTime.Now, Fecha_inicio = Model.Fecha_inicio,  Fecha_de_vencimiento = Model.Fecha_de_vencimiento })
</div>



<div class="container-fluid">

</div>
<script>
 @*   $(document).ready(function () {
        PrepararGrid();
    });

    function PrepararGrid() {
        //clearsession();
        var dataSource = $("#gridContrato_Detail").data("kendoGrid").dataSource;
        var raw = dataSource._data;
        console.log(raw);
        debugger;
        for (var i = dataSource._data.length - 1; i >= 0; i--) {
            item = raw[i];
            dataSource.remove(item);
        }
        // $('#ModalJournalEntry').find(':input').not(':submit').val('');
        // $('#ModalJournalEntry').modal('show');
        //$("#SalesOrderId").val('0');
    }*@
</script>