@model ERPMVC.Models.Contrato
<style>
    #gridCotizacionesDetail .k-grid-content {
        min-height: 400px;
        max-height: 500px;
    }
</style>
<script>

    function CalcularCambio() {
         var total = $("#ValorPrima").val();
        var abono = $("#Valorpagado").val();
        if (parseFloat(total) <= parseFloat(abono)) {
            var nuevosaldo = parseFloat(abono) - parseFloat(total);
            setearvalor("cambio", parseFloat(nuevosaldo));
            $('#btnGuardar').attr("disabled", false);
        }
        else if (parseFloat(total) > parseFloat(abono)) {
           var nuevosaldo2 = 0;
            setearvalor("cambio", 0);
            $('#btnGuardar').attr("disabled", true);
        } 
    }

    function BotonPagar() {
         var total = $("#ValorPrima").val();
        var abono = $("#Valorpagado").val();
        if (abono < total) {
            
        } else {
             
        }
        }
  
    //Calcular el nuevo saldo de contrato
    function CalcularSaldo() {
        debugger;
        var total = $("#TotalContrato").val();
        var intereses = $("#InteresesFinaciar").val();
        var abono = $("#Valorpagado").val();
        var nuevosaldo = parseFloat(total) - (parseFloat(abono) + parseFloat(intereses));
        setearvalor("Valor_Contrato", nuevosaldo);
       
    }




    //Pasar valores del grid 
    function CalcularTotalDocumento() {
        debugger;
       
       // var displayedData = $("#gridContrato_Detail").data().kendoGrid.dataSource.view();
        var ValorCuota = 0, TotalContrato = 0, InteresesFinaciar = 0;

        $(displayedData).each(function (index, element) {
            var t = JSON.parse(JSON.stringify(element));
            ValorCuota = t["ValorCuota"];
            InteresesFinaciar = t["InteresesFinaciar"];
            TotalContrato = t["TotalContrato"];

        });
        
        setearvalor('ValorCuota', ValorCuota);
        setearvalor('InteresesFinaciar', InteresesFinaciar);
        setearvalor('TotalContrato', TotalContrato);
    }
    //Setear valores
    function setearvalor(nombrenumerico, valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }
    //solo acepte numeros
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }

    //para mostrar campos dependiendo del producto
    $(document).ready(function () {
        $("#Serie").hide();
        $("#Modelo").hide();

    });
    //para cargar campos dependientes de Contrato
    $(document).ready(function () {
        debugger;
        if ($("#ContratoId").val() > 0) {
            var dataObject = { ContratoId: $("#ContratoId").val() };
            $.ajax({
                url: '@Url.Action("GetContratoById", "Contrato")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: dataObject,
                success: function (result) {
                    debugger;
                    $("#Customer").val(result.CustomerId);
                    $("#Plazo").val(result.Plazo);
                    $("#TotalContrato").val(result.TotalContrato);
                    $("#TotalContratos").val(result.TotalContrato);
                    $("#ValorPrima").val(result.ValorPrima);
                    $("#ValorCuota").val(result.ValorCuota);
                    $("#InteresesFinaciar").val(result.InteresesFinaciar);
                    
                    
         
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }

            });

            var dataObject = { ContratoId: $("#ContratoId").val() };
            $.ajax({
                url: '@Url.Action("GetContrato_movimientosByIdTipo", "PagoPrima")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: dataObject,
                success: function (result) {
                    
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }

            });


            if ($("#Customer").val() > 0) {
                debugger;
                var dataObject = { CustomerId: $("#Customer").val()};
                $.ajax({
                url: '@Url.Action("GetCustomerById", "Customer")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: dataObject,
                    success: function (result) {
                        $("#CustomerName").val(result.CustomerName);
                        debugger
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
                });
            }

        }
        else {
            $("#SalesOrderName").prop('disabled', false);
        }


    })
    //get para agregar un registro al grid
    //function GetContratoDetalle() {
    //    debugger;

    //    var displayedData = $("#gridContrato_Detail").data().kendoGrid.dataSource.data();
    //    var id = -999999;
    //    if (Number($("#ContratoId").val()) === 0) {
    //        if (displayedData.length > 0) {
    //            for (var i = 0; i < displayedData.length; i++) {
    //                if (displayedData[i].ContratoId > id)
    //                    id = displayedData[i].ContratoId;

    //            }
    //            id = id + 1;
    //        }
    //        else if ($("#CustomerId").val()>0) {
    //            id = 1;
    //        }
    //    }
    //    else {
    //        id = $("#ContratoId").val(0);
    //    }
    //    return {
    //        ContratoId: id,
    //        CustomerId: $("#CustomerId").val(),
    //        Plazo: $("#Plazo").val(),
    //        TotalContrato: $("#TotalContratos").val(),
    //        ValorPrima: $("#ValorPrima").val(),
    //        ValorCuota: $("#ValorCuota").val(),
    //        InteresesFinaciar: $("#InteresesFinaciar").val(),

    //        }
    //}
    //metodo que levanta el boton agregar
    function AddContrato_Detalle(e) {
        debugger;
        if ($("#CustomerId").val() == 0) {
            swal("Error", "seleccione todos los campos");
        } else if ($("#CustomerId").val() > 0) {
            try {
                //$("#btnActualizarCotizacionLinea").prop("disabled", true);
               RefreshCotizacionesDetail();
                //completedorderlinemant();
                CalcularTotalDocumento();
            } catch (e) {
                $("#btnActualizarContratoDetalle").prop("disabled", false);
            }
        }
    }

    //agrega y refresca en el grid
    function RefreshCotizacionesDetail() {
        debugger;
        var grid = $("#gridContrato_Detail").getKendoGrid();
       // grid.dataSource.read();
        grid.refresh();
        $("#ContratoId").val(0);
        //$("#CustomerId").data("kendoDropDownList").value(0);
        $("#Plazo").val(0);
        $("#TotalContratos").val(0);
        $("#ValorPrima").val(0);
        $("#ValorCuota").val(0);
        $("#InteresesFinaciar").val(0);
         $("#Existencia").val(0);
    }
    //recargar la pantalla y limpia la variable de sesion
    $(document).ready(function () {
        clearsession()
    });

    //metodo para eliminar
    function Delete(e) {
        if (confirm('Esta seguro que desea eliminar la fila?')) {
            debugger
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $.ajax({
               url: '@Url.Action("Delete", "Contrato")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataItem),
                success: function (data) {
                    var grid = $("#gridContratoDetail").data("kendoGrid");
                   // grid.dataSource.remove(dataItem);
                    $("#titulo").text("Eliminar Contrato");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    swal("Error", textStatus, "error");
                }
            });
        }
    }

</script>

@{
    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                    {"required","Valor requerido" }
                                 };
    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
}


<form id="frmcotizar" kendo-validator="true"
      method="post" class="validation-wizard wizard-circle">
    <div class="row">
        <div class="col-lg-12">
            <div class="row" id="div1">
                <div class="row" hidden>
                   
                </div>
                <div class="row" hidden>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ContratoId" class="control-label" style="width:100%"></label>
                            <input type="number" asp-for="ContratoId" class="form-control" style="min-width:100%" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CustomerId" class="control-label" style="width:100%">Cliente</label>
                            <input type="text" asp-for="CustomerId" hidden id="Customer" name="CustomerId" class="form-control required " style="min-width: 100%" required data-required-msg="El Cliente es requerido" readonly />
                            <input type="text" asp-for="CustomerId" id="CustomerName" name="CustomerId" class="form-control required " style="min-width: 100%" required data-required-msg="El Cliente es requerido" readonly />
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="col-md-3">
            <div class="form-group">
                <label asp-for="Fecha_inicio" class="control-label" style="width:100%">Fecha Inicio</label>
                <input type="text" asp-for="Fecha_inicio" id="Fecha_inicio" name="Fecha_inicio" class="form-control required " style="min-width: 100%" required data-required-msg="" readonly />
                <span asp-validation-for="Fecha_inicio" class="text-danger"></span>
            </div>
        </div>*@


                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Fecha_inicio" class="control-label" style="width: 100%;">Fecha Inicio del Contrato</label>
                            <kendo-datetimepicker name="Fecha_inicio"
                                                  style="width: 100%;"
                                                  format="dd/MM/yyyy hh:mm:ss"
                                                  time-format="hh:mm:ss"
                                                  id="Fecha_inicio"
                                                  disabled
                                                  data-val-required="La fecha es requerida"
                                                  value="Model.Fecha_inicio" />
                            <span asp-validation-for="Fecha_inicio" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Fecha_de_vencimiento" class="control-label" style="width: 100%;">Fecha Finalización del Contrato</label>
                            <kendo-datetimepicker name="Fecha_de_vencimiento"
                                                  style="width: 100%;"
                                                  format="dd/MM/yyyy hh:mm:ss"
                                                  time-format="hh:mm:ss"
                                                  disabled
                                                  id="Fecha_de_vencimiento"
                                                  data-val-required="La fecha es requerida"
                                                  value="Model.Fecha_de_vencimiento" />
                            <span asp-validation-for="Fecha_de_vencimiento" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Plazo" class="control-label" style="width:100%"></label>
                            <input type="text" asp-for="Plazo" id="Plazo" name="Plazo" class="form-control required" readonly style="min-width: 100%" onKeyPress="return soloNumeros(event)" />
                            <span asp-validation-for="Plazo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TotalContrato" class="control-label" style="width:100%"></label>
                            <input type="text" asp-for="TotalContrato" id="TotalContrato" name="TotalContrato" readonly class="form-control required" style="min-width: 100%" onKeyPress="return soloNumeros(event)" />
                            <span asp-validation-for="TotalContrato" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ValorCuota" class="control-label" style="width:100%"></label>
                            <kendo-numerictextbox name="ValorCuota"
                                                  format="n2"
                                                  id="ValorCuota"
                                                  spinners="false"
                                                  min="0"
                                                  required
                                                  disabled
                                                  step="1"
                                                  style="width:100%"
                                                  value="Model.ValorCuota" />
                            <span asp-validation-for="ValorCuota" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="clearfix"> </div>



                    @*<div class="col-md-3">
            <div class="form-group">
                <label asp-for="ValorPrima" class="control-label" style="width:100%"></label>
                <input type="text" asp-for="ValorPrima" id="ValorPrima" name="ValorPrima" class="form-control required" readonly style="min-width: 100%" onKeyPress="return soloNumeros(event)" />
                <span asp-validation-for="ValorPrima" class="text-danger"></span>
            </div>
        </div>*@
                </div>
         </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-8">

    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt><label asp-for="ValorPrima" class="control-label" style="width:100%"></label></dt>
            <dd>
                <kendo-numerictextbox name="ValorPrima"
                                      format="n2"
                                      id="ValorPrima"
                                      spinners="false"
                                      min="0"
                                      required
                                      disabled
                                      step="1"
                                      style="width:100%; text-align: right;"
                                      value="Model.ValorPrima" />
                <span asp-validation-for="ValorPrima" class="text-danger"></span>
            </dd>
            <dt><label asp-for="Valorpagado" class="control-label" style="width:100%;">Saldo recibido</label></dt>
            <dd>
                <kendo-numerictextbox name="Valorpagado"
                                      format="n2"
                                      id="Valorpagado"
                                       maxlength="20"
                                     
                                      min="0"
                                      required
                                      onKeyPress="return soloNumeros(event);" ;
                                      onchange=" BotonPagar(); CalcularCambio();"
                                      step="1"
                                      style="width:100%; text-align: right;"
                                      value="Model.Valorpagado" />
                <span asp-validation-for="Valorpagado" class="text-danger"></span>
            </dd>

            @*<dt><label asp-for="cambio" class="control-label" style="width:100%;">Cambio</label></dt>
            <dd>
                <kendo-numerictextbox name="cambio"
                                      format="n2"
                                      id="cambio"
                                      spinners="false"
                                      min="0"
                                      required
                                      disabled
                                      step="1"
                                      style="width:100%; text-align: right;"
                                      value="Model.cambio" />
                <span asp-validation-for="cambio" class="text-danger"></span>
            </dd>*@
            </dl>

        @*<div class="col-md-12">
            <div class="form-group">
                
                
            </div>
        </div>*@


        @*<div class="col-md-3">
            <div class="form-group">
                <label asp-for="TotalContrato" class="control-label" style="width:100%">Saldo Actual</label>
                <kendo-numerictextbox name="TotalContrato"
                                      format="n2"
                                      id="TotalContratos"
                                      spinners="false"
                                      min="0"
                                      required
                                      disabled
                                      step="1"
                                      style="width:100%"
                                      value="Model.TotalContrato" />
                <span asp-validation-for="TotalContrato" class="text-danger"></span>
            </div>
        </div>*@
        @*<div class="col-md-12">
            <div class="form-group">
                
                
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                
                
            </div>
        </div>*@
    </div>
</div>
    @*<div class="col-md-3">
        <div class="form-group" hidden>
            <label asp-for="InteresesFinaciar" class="control-label" style="width:100%"></label>
            <kendo-numerictextbox name="InteresesFinaciar"
                                  format="n2"
                                  id="InteresesFinaciar"
                                  spinners="false"
                                  min="0"
                                  required
                                  disabled
                                  step="1"
                                  style="width:100%"
                                  value="Model.InteresesFinaciar" />
            <span asp-validation-for="InteresesFinaciar" class="text-danger"></span>
        </div>
    </div>*@
    @*<div class="col-md-3" hidden>
        <div class="form-group">
            <label asp-for="Valor_Contrato" class="control-label" style="width:100%">Nuevo Saldo</label>
            <kendo-numerictextbox name="Valor_Contrato"
                                  format="n2"
                                  id="Valor_Contrato"
                                  spinners="false"
                                  min="0"
                                  required
                                  disabled
                                  step="1"
                                  style="width:100%"
                                  value="Model.Valor_Contrato" />
            <span asp-validation-for="Valor_Contrato" class="text-danger"></span>
        </div>
    </div>*@


    @*<div class="col-md-3" hidden>
        <div class="form-group">
            <label asp-for="Dias_mora" class="control-label" style="width:100%"></label>
            <kendo-numerictextbox name="Dias_mora"
                                  format="n2"
                                  id="Dias_mora"
                                  spinners="false"
                                  min="0"
                                  required
                                  disabled
                                  step="1"
                                  style="width:100%"
                                  value="Model.Dias_mora" />
            <span asp-validation-for="Dias_mora" class="text-danger"></span>
        </div>
    </div>*@
    @*<div class="col-md-3" hidden>
        <div class="form-group">
            <label asp-for="Cuotas_pagadas" class="control-label" style="width:100%"></label>
            <kendo-numerictextbox name="Cuotas_pagadas"
                                  format="n2"
                                  id="Cuotas_pagadas"
                                  spinners="false"
                                  min="0"
                                  required
                                  disabled
                                  step="1"
                                  style="width:100%"
                                  value="Model.Cuotas_pagadas" />
            <span asp-validation-for="Cuotas_pagadas" class="text-danger"></span>
        </div>
    </div>*@
    @*<div class="col-md-3" hidden>
        <div class="form-group">
            <label asp-for="Cuotas_pendiente" class="control-label" style="width:100%"></label>
            <kendo-numerictextbox name="Cuotas_pendiente"
                                  format="n2"
                                  id="Cuotas_pendiente"
                                  spinners="false"
                                  min="0"
                                  required
                                  disabled
                                  step="1"
                                  style="width:100%"
                                  value="Model.Cuotas_pendiente" />
            <span asp-validation-for="Cuotas_pendiente" class="text-danger"></span>
        </div>
    </div>
</div>*@

  