@model ERPMVC.DTO.CompanyInfoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};

}
<link href="~/css/pages/file-upload.css" rel="stylesheet">
<div class="card card-outline-inverse">
    <div class="card-header">
        <h3 class="m-b-0 text-white">Información de la empresa</h3>
        <a asp-action="Menu" class="close" aria-hidden="true" style="background-color:white">×</a>
    </div>
    <div class="card-body">
        <form id="frmCompanyInfo" kendo-validator="true"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-begin="SaveCompanyInfo"
              class="validation-wizard wizard-circle">
            <div class="row" hidden>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CompanyInfoId" class=" control-label" style="width:100%">Id CompanyInfo</label>
                        <input type="text" asp-for="CompanyInfoId" name="IdCompanyInfo" class="form-control" disabled="disabled" style="width:100%" />
                        <span asp-validation-for="CompanyInfoId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Company_Name" class=" control-label" style="width:100%">Nombre de la Empresa</label>
                        <input type="text" asp-for="Company_Name" name="Company_Name" class="form-control" style="width:100%" maxlength="100" required data-required-msg="El Nombre es requerido."/>
                        <span asp-validation-for="Company_Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Tax_Id" class=" control-label" style="width:100%">RTN</label>
                        <input type="text" asp-for="Tax_Id" name="Tax_Id" class="form-control" autocomplete="off" style="width:100%" maxlength="14" required data-required-msg="El RTN es requerido."  onKeyPress="return soloNumeros(event)"/>
                        <span asp-validation-for="Tax_Id" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Address" class=" control-label" style="width:100%">Dirección</label>
                        <textarea type="text" asp-for="Address" name="Address" class="form-control" autocomplete="off" style="width:100%" maxlength="500"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Phone" class=" control-label" style="width:100%"></label>
                        <input type="text" asp-for="Phone" name="Phone" required data-required-msg="El teléfono es requerido." maxlength="15" class="form-control" style="width:100%" onchange="Completarphone(event)" onKeyPress="return soloNumeros(event)" placeholder="(000)0000-0000" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class=" control-label" style="width:100%">Email</label>
                        <input type="text" asp-for="Email" name="Email" class="form-control" required data-required-msg="El correo es requerido." autocomplete="off" style="width:100%" maxlength="50" placeholder="nombre@ejemplo.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PostalCode" class=" control-label" style="width:100%">Código Postal</label>
                        <input type="text" asp-for="PostalCode" name="Manager" class="form-control" autocomplete="off" style="width:100%"  onKeyPress="return soloNumeros(event)" maxlength="5"/>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Fax" class=" control-label" style="width:100%">Fax</label>
                        <input type="text" asp-for="Fax" name="Fax" class="form-control" autocomplete="off" style="width:100%" maxlength="15"/>
                        <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CountryId" class="control-label">País</label>
                        <kendo-dropdownlist name="CountryId"
                                            for="@Model.CountryId"
                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                            option-label="Seleccionar País"
                                            datatextfield="Name "
                                            datavaluefield="Id"
                                            style="width: 100%;" required data-required-msg="El país es requerido." >
                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                <transport>
                                    <read url="@Url.Action("Get", "Country")" />
                                </transport>
                            </datasource>
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Manager" class=" control-label" style="width:100%">Gerente</label>
                        <input type="text" asp-for="Manager" name="Manager" class="form-control" autocomplete="off" style="width:100%" maxlength="50" />
                        <span asp-validation-for="Manager" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="RTNMANAGER" class=" control-label" style="width:100%">RTN del Gerente</label>
                        <input type="text" asp-for="RTNMANAGER" name="RTNMANAGER" class="form-control" autocomplete="off" style="width:100%" maxlength="13"  onKeyPress="return soloNumeros(event)"/>
                        <span asp-validation-for="RTNMANAGER" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="PrintHeader" class=" control-label" style="width:100%">Encabezado de impresión</label>
                        <input type="text" asp-for="PrintHeader" name="PrintHeader" class="form-control" autocomplete="off" style="width:100%" maxlength="100"/>
                        <span asp-validation-for="PrintHeader" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class=" control-label" style="width:100%">Agente de Revision</label>
                        <input type="text" asp-for="RevOffice" name="RevOffice" class="form-control" autocomplete="off" style="width:100%" maxlength="100"/>
                        <span asp-validation-for="RevOffice" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" hidden>
                <div class="form-group">
                    <label>Imagen</label>
                    <div class="fileinput input-group fileinput-new" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="fa fa-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-secondary btn-file">
                            <span class="fileinput-new">Seleccionar Archivo</span>
                            <span class="fileinput-exists">Cambiar</span>
                            <input type="hidden" value="" name="..."><input type="file" name="">
                        </span>
                        <a href="#" class="input-group-addon btn btn-secondary fileinput-exists" data-dismiss="fileinput">Quitar</a>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: right">
                <div class="col-md-12">
                    <a asp-action="Menu" class="btn btn-secondary">Cerrar</a>
                    <button id="btnCompanyInfo" class="btn btn-success" type="button" onclick="SaveCompanyInfo(this)"> Guardar </button>
                </div>
            </div>

        </form>

    </div>

</div>

<script>

     function SaveCompanyInfo(e) {
            var dataObject = {
                'CompanyInfoId': $("#CompanyInfoId").val() === "" ? "0" : $("#CompanyInfoId").val(),
                'Company_Name': $("#Company_Name").val(),
                'Address': $("#Address").val(),
                'Phone': $("#Phone").val(),
                'Fax': $("#Fax").val(),
                'Email': $("#Email").val(),
                'Tax_Id': $("#Tax_Id").val(),
                'image': $("#image").val(),
                'CountryId': $("#CountryId").val(),
                'CountryName': $("#CountryId").data("kendoDropDownList").text(),
                'Manager': $("#Manager").val(),
                'PostalCode': $("#PostalCode").val(),
                'PrintHeader': $("#PrintHeader").val(),
                'RTNMANAGER': $("#RTNMANAGER").val(),
                'RevOffice': $("#RevOffice").val(),
                'image': $("#image").val(),
            };
            var validator = $("#frmCompanyInfo").data("kendoValidator");

                if (validator.validate()) {
                    $.ajax({
                        url: '@Url.Action("SaveCompanyInfo", "CompanyInfo")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            swal('Informacion de la Empresa', 'Almacenado con éxito', 'success');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            swal("Informacion de la Empresa", "Error", "error");                            
                        }
                    });
                }
                else {
                    swal("Informacion de la Empresa", "Complete todos los campos", "info");
                }

    }

    function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode
            return ((key >= 48 && key <= 57) || (key == 8))
    }

     function Completarphone(e) {
            var phone = $("#Phone").val()
            var telefono = phone.length
            if (telefono < 14 || phone.indexOf("_") > -1 == true) {
                alert('Por favor completar el campo teléfono')
            }
    }

    function soloLetras(e) {
                key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = "8-37-39-46";

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                tecla_especial = true;
            break;
        }
}

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
        }
    }

    
    document.addEventListener("input", function () {
        $("input[type='text']", 'form').each(function () {
            _id = $(this).attr("id");
            _value = document.getElementById(_id).value;
            document.getElementById(_id).value = _value.trimStart();
        });
    });
</script>
