@model ERPMVC.Models.SolicitudCertificadoLine



<script>

    completedorderlinemant = function (xhr) {

        $('#myModalSolicitudCertificadoDepositoLine').find(':input').not('#IdSCD :submit').val('0');
      //  $('#TaxCode').val('0');
      //  $('#TaxCode').data("kendoDropDownList").value('0');
      //  $('#TaxCode').data("kendoDropDownList").value(0);
        $('DescriptionDetail').val('');
        //CalcularTotalDocumento();
        //$("#btnActualizarCotizacionLinea").prop("disabled", false);
       closesaleorderline();
    };


    function closesaleorderline() {
        $("#myModalSolicitudCertificadoDepositoLine").modal('hide');

    }


    //function CalcularTotalDocumento() {
    //    var freight = $("#Freight").val()===""?0:$("#Freight").val();

    //    var displayedData = $("#gridCertificadoDepositoDetail").data().kendoGrid.dataSource.view();
    //    var total = 0, totaldescuento = 0, totalimpuesto = 0,totalimpuesto18=0, totalmonto = 0;
    //    var TotalExento = 0, TotalExonerado = 0, TotalGravado = 0,TotalGravado18=0;

    //    $(displayedData).each(function (index, element) {
    //        var t = JSON.parse(JSON.stringify(element));

    //        total = total + t["Total"];
    //        totaldescuento = totaldescuento  + t["DiscountAmount"];
    //        totalmonto = totalmonto + t["Amount"];

    //        if (t["TaxCode"] == "1" ) {
    //            TotalGravado = TotalGravado + (t["Total"] - t["TaxAmount"]);
    //            totalimpuesto = totalimpuesto + t["TaxAmount"];
    //        }

    //        if (t["TaxCode"] == "3") {
    //            TotalGravado18 = TotalGravado18 + (t["Total"] - t["TaxAmount"]);
    //            totalimpuesto18 = totalimpuesto18 + t["TaxAmount"];
    //        }

    //         if (t["TaxCode"] == "4") {
    //             TotalExento = TotalExento + t["Total"];
    //        }

    //        if (t["TaxCode"] == "5") {
    //            TotalExonerado = TotalExonerado + t["Total"];
    //        }

    //    });

    //    console.log(TotalGravado); console.log(TotalGravado18); console.log(TotalExento);
    //    console.log(TotalExonerado); console.log(totalimpuesto18); console.log(totalimpuesto); console.log(Number(freight));
    //    var sumatotal = TotalGravado + TotalGravado18 + TotalExento + TotalExonerado + totalimpuesto18+  totalimpuesto + Number(freight);
    //    setearvalor('Amount', total);

    //    setearvalor('TotalExento', TotalExento);
    //    setearvalor('TotalExonerado', TotalExonerado);
    //    setearvalor('TotalGravado', TotalGravado);
    //    setearvalor('TotalGravado18', TotalGravado18);

    //    setearvalor('Discount', totaldescuento);
    //    setearvalor('Tax', totalimpuesto);
    //    setearvalor('Tax18', totalimpuesto18);
    //    setearvalor('SubTotal', total - (totaldescuento + totalimpuesto + totalimpuesto18));
    //    setearvalor('Total', sumatotal);
    //}

    function AddConceptoCotizacion(e) {
       // e.preventDefault();
        var notification = $("#notification").data("kendoNotification");
        if ($("#SubProductId").val() > 0) {
            try {
                $("#btnActualizarCotizacionLinea").prop("disabled", true);
                RefreshCertificadoDepositoDetail();

            } catch (e) {
                $("#btnActualizarCotizacionLinea").prop("disabled", false);
            }
        }
        else {
            notification.show({
                title: "Validación",
                message: "Seleccione el SubProducto!"
            }, "error");

            return;
        }


    }

    function setearvalor(nombrenumerico,valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }



    function GetPercentage()
    {
        if ($("#TaxCode").val() != null) {
            var dataObject = { TaxId: $("#TaxCode").val() };
            $.ajax({
                url: '@Url.Action("GetTaxById","Tax")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: dataObject,
                success: function (result) {
                    setearvalor("TaxPercentage", result.TaxPercentage);
                    CalcularTotal();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
        }

    }

    function CalcularTotal() {
        //debugger;
        var quantity = $("#Quantity").val();
        var price = $("#Price").val();
        var amount = quantity * price;
        setearvalor("AmountLine", amount);
        var DiscountAmount = amount * ($("#DiscountPercentage").val() / 100);
        setearvalor("DiscountAmount", DiscountAmount);
        var subtotal = amount - DiscountAmount;
        var taxamount = subtotal * ($("#TaxPercentage").val() / 100) ;
        setearvalor("TaxAmount", taxamount);
        setearvalor("SubTotalLine", subtotal);
        var Total = subtotal + taxamount;
        setearvalor("TotalLine", Total);
    }

    function cargarloader() {
       $("#btnActualizarCotizacionLinea").prop("disabled", true);
    }



</script>


<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="myModalSolicitudCertificadoDepositoLine" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closesaleorderline();">&times;</button>
                <h4 class="modal-title">Detalle de certificado</h4>
            </div>
            <div class="modal-body">

                @{
                    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                                    {"required","Valor requerido" }
                                                                 };
                    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }



                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*asp-controller="SalesOrderLine"  asp-action="SaveSalesOrderLine"*@
                            <div class="card-body">
                                <form id="frmCertificadoDepositoLine"
                                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                                      data-ajax-method="post"
                                      data-ajax-loading="#loading"
                                      data-ajax-complete="completedorderlinemant"
                                      data-ajax-begin="AddConceptoCotizacion"
                                      data-ajax="true"
                                      method="post">
                                    <div class="form-body">
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdSCD" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="IdSCD" class="form-control" disabled />

                                                </div>
                                            </div>

                                            

                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label asp-for="SubProductId" class="control-label" style="width:100%"></label>
                                                    <script>
                                                        function setsubproductname(e) {
                                                            // console.log(e);
                                                            var dataItem = e.dataItem;
                                                            if (dataItem != null)
                                                                $("#subproductname").val(dataItem.ProductName);
                                                        }
                                                    </script>
                                                    <input type="hidden" id="subproductname" />
                                                    <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el subproducto"
                                                                        for="SubProductId"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="SubproductId"
                                                                        auto-bind="false"
                                                                        on-select="setsubproductname"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetSubProductByProductId", "ProductRelation")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="SubProductId" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class="control-label" style="width:100%"></label>
                                                    <input type="text" id="DescriptionDetail" asp-for="Description" class="form-control" style="width:100%" />

                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Quantity" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Quantity"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.Quantity"></kendo-numerictextbox>
                                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Price" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Price"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.Price"></kendo-numerictextbox>
                                                    <span asp-validation-for="Price" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Amount" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Amount"
                                                                          format="n2"
                                                                          id="AmountLine"
                                                                          spinners="false"
                                                                          min="0"
                                                                          required
                                                                          disabled
                                                                          step="1"
                                                                          style="width:100%"
                                                                          value="Model.Amount"></kendo-numerictextbox>

                                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="UnitMeasureId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="UnitOfMeasureId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        id="UnitMeasureId"
                                                                        option-label="Seleccione la unidad de medida"
                                                                        for="UnitMeasureId"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        auto-bind="true"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="UnitMeasureId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <button id="btnActualizarCotizacionLinea" type="submit" class="form-control">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
