@using Microsoft.AspNetCore.Http
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERP</title>

    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="~/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!--alerts CSS -->
    <link href="~/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <!--Toaster Popup message CSS -->
    <link href="~/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- page css -->
    <link href="~/css/pages/card-page.css" rel="stylesheet">
    <link href="~/css/pages/icon-page.css" rel="stylesheet">



    <link href="~/css/office-365/ej.web.all.min.css" rel="stylesheet" />


    <!-- Dashboard 1 Page CSS -->
    @*<link href="~/css/pages/dashboard1.css" rel="stylesheet">*@
    <!-- You can change the theme colors from here -->
    <link href="~/css/colors/default.css" id="theme" rel="stylesheet">
    <!--CSS KENDO
    <link href="~/css/gridkendo/all.css" rel="stylesheet" />
    <link href="~/css/boostrapnogrid/all.css" rel="stylesheet" />
    <link href="~/css/kendo-default2/all.css" rel="stylesheet" /> -->
    <link href="~/css/boostrapnogrid/all.css" rel="stylesheet" />
    <link href="~/css/default-grid/all.css" rel="stylesheet" />
    <link href="~/css/pages/icon-page.css" rel="stylesheet">

    <!-- SyncFusion ReportViewer CSS
    <link href="~/css/ej.widgets.core.office-365.min.css" rel="stylesheet" />
    <link href="~/css/material.css" rel="stylesheet" />-->
    <!-- JQuery

        <script src="~/assets/plugins/jquery/jquery.min.js"></script>
        <script src="~/js/kendo1/jquery.min.js"></script>
    -->
    <script src="~/js/jquery.js"></script>
    <script src="~/scripts/jquery.easing.1.3.min.js"></script>
    <script src="~/scripts/jsrender.min.js"></script>
    <script src="~/scripts/ej.web.all.min.js"></script>

    <script src="~/js/kendo1/jszip.min.js"></script>
    <script src="~/js/kendo1/kendo.all.min.js"></script>
    <script src="~/js/kendo1/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/kendo1/kendo.culture.es-HN.min.js"></script>
    <script src="~/js/kendo1/generalfuntions.js"></script>

    <!-- Sweet-Alert  -->
    <script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    @RenderSection("scriptsKendo", required: false)

    <script>
        function error_handler(e) {

            //  console.log(e);
            if (e.status == "customerror") {

                swal("Error", e.errors, "error");
                //swal({
                //    position: 'top-end',
                //    title: "Error",
                //    text: e.errors,
                //    type: "error",
                //    timer: 2000,
                //    showConfirmButton: false
                //});
            }
            else {

                swal("Validacion", "Generic server error.", "info");
            }

            //var errors = $.parseJSON(e.xhr.responseText);
            //console.log(errors);
            //if (errors) {
            //    alert("Errors:\n" + errors.join("\n"));
            //}
        }




        kendo.culture("es-HN");

    </script>



    <environment names="Development">
        @*   <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body class="fix-header fix-sidebar card-no-border">
    @await Html.PartialAsync("Components/_Topbar")
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">ERP</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        @await Html.PartialAsync("Components/_Sidebar")

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @RenderBody()

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                ©@DateTime.Now.Year BI-DSS
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--sparkline JavaScript -->
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--morris JavaScript -->
    <script src="~/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="~/assets/plugins/d3/d3.min.js"></script>
    <script src="~/assets/plugins/c3-master/c3.min.js"></script>

    <!-- Popup message jquery-->
    <script src="~/assets/plugins/toast-master/js/jquery.toast.js"></script>
    <!-- Chart JS
    <script src="~/js/dashboard1.js"></script>-->
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

    <!--
    <link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>

        -->
    <script src="~/js/Syncfusion/ej.localetexts.es-ES.min.js"></script>
    <script src="~/js/Syncfusion/ej.culture.es-ES.min.js"></script>
    @RenderSection("scripts", required: false)


</body>

        
    

</html>