@model ERPMVC.Models.BoletaDeSalida

@using Syncfusion.JavaScript

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" report-print="onPrintReport"  processing-mode="Remote" ajax-before-load="ajaxBeforeLoad" report-service-url="/ReportViewer"  report-loaded="onReportLoaded" report-path="/ReportsTemplate/BoletaSalida.rdl" />
    @*<ej-report-viewer id="reportviewer1" report-service-url="https://localhost:44329/Home" report-server-url="https://localhost:44329/" report-path="/ReportsTemplate/Sales Order Detail.rdl" />*@
</div>


<script type="text/javascript">


    function ajaxBeforeLoad(event) {
        var parameters = [{
            name: 'BoletaDeSalidaId',
            labels: ['@Model.BoletaDeSalidaId'],
            values: [@Model.BoletaDeSalidaId],
            nullable: false
        }
        ];
        event.data = parameters;
    }; 


    function onPrintReport(args) {
        args.isStyleLoad = false;
        var data = $("#reportviewer1").data('ejReportViewer');
        if (data._browserInfo.name != "msie") {
            args.printWind.printDelay = 2000 * data._pageModel.TotalPages;
        }
    }


    function onReportLoaded(sender) {

        var reportObj = $('#reportviewer1').data("ejReportViewer");
        //console.log('Llega al ReportLoaded');
        reportObj.model.parameters = [{
            name: 'BoletaDeSalidaId',
            labels: ['@Model.BoletaDeSalidaId'],
            values: ['@Model.BoletaDeSalidaId'],
            nullable: false
        }
        ];
    }

</script>


<ej-script-manager></ej-script-manager>