@{
    Layout = null;
}

<div id="main-section-header" class="row">
    <div id="dateFilter" class="col-md-12">
        <div class="form-group">
            <label for="StartDate" class="control-label">Desde</label>
            @(Html.Kendo().DatePicker()
                                .Name("FechaInicio2")
                                .Value(DateTime.Now.AddMonths(-6))
                    // .Events(e => e.Change("onCriteriaChange"))
            )
            <span class="k-invalid-msg" data-for="StartDate"></span>
        </div>
    </div>
    <div id="dateFilter" class="col-md-12">
        <div class="form-group">
            <label for="EndDate" class="control-label">Hasta </label>
            @(Html.Kendo().DatePicker()
                        .Name("FechaFin2")
                        .Value(DateTime.Now)
                    //.Events(e => e.Change("onCriteriaChange"))
            )
            <span class="k-invalid-msg" data-for="EndDate"></span>
        </div>

        <div style="clear:both;"></div>
    </div>
    </div>

    <style>
        .demo-section k-content wide {
            text-align: center;
            padding-top: 20px;
            background-repeat: no-repeat;
        }
    </style>
