@model ERPMVC.DTO.ExchangeRateDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "ExchangeRateId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>





<div id="ModalExchangeRate" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tasa de Cambio de Dollar</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmExchangeRate" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveExchangeRate"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Tasa de Cambio</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ExchangeRateId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ExchangeRateId" name="ExchangeRateId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="ExchangeRateId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DayofRate" class=" control-label" style="width:100%">Fecha Recepción</label>
                                                    <kendo-datetimepicker name="DayofRate" style="width: 100%;"
        format="dd/MM/yyyy hh:mm:ss"
        time-format="hh:mm:ss"
        data-val-required="La fecha es requerida"
        value="Model.DayofRate"></kendo-datetimepicker>
                                                    @* <input type="date" asp-for="DayofRate" name="DayofRate" class="form-control" autocomplete="off" style="width:100%" />*@
                                                    <span asp-validation-for="DayofRate" class="text-danger"></span>


                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ExchangeRateValue" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="ExchangeRateValue"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.ExchangeRateValue" />

                                                    <span asp-validation-for="ExchangeRateValue" class="text-danger"></span>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnExchangeRate" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>



                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridNumeracionExchangeRate").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveExchangeRate(e) {
        debugger;
            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnExchangeRate").hide();
        $("#btnExchangeRate").prop("disabled", true);

        var displayedData = $("#gridNumeracionExchangeRate").data().kendoGrid.dataSource.view();

        var dataObject = {
            'ExchangeRateId': $("#ExchangeRateId").val(),
            'DayofRate': $("#DayofRate").getKendoDateTimePicker().value().toJSON(),
            'ExchangeRateValue': $("#ExchangeRateValue").val(),
                'CreatedDate': $("#CreatedDate").val(),
                'ModifiedDate': $("#ModifiedDate").val(),
                'CreatedUser': $("#CreatedUser").val(),
                'ModifiedUser': $("#ModifiedUser").val(),
            '_ExchangeRate': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmExchangeRate").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveExchangeRate", "ExchangeRate")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalExchangeRate').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnExchangeRate").show();
        $("#btnExchangeRate").prop("disabled", false);
    }
</script>
