@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Cuotas Pagadas";
}
@{
    var Linea = ViewData["Sucursal"] as IEnumerable<ERPMVC.Models.Branch>;
}
<script>


   function GetInvoiceId() {
        return { ContratoId: $("#ContratoId").val() }
    }


</script>

<h3 class="text-themecolor"> </h3>
@(Html.Kendo().Grid<ERPMVC.Models.Contrato_movimientos>
                                                    ()
                                                    .Name("gridContrato")
                                                    .Columns(columns =>
                                                    {
                                                        columns.ForeignKey(p => p.BranchId, (System.Collections.IEnumerable)ViewData["Sucursal"], "BranchId", "BranchName").Title("Sucursal").Width(200);
                                                        columns.Bound(p => p.Contrato_movimientosId).Title("N° Movimiento").Width(150);
                                                        columns.Bound(p => p.Valorcapital).Title("Total Pagado").Width(180);
                                                        columns.Bound(p => p.Fechamovimiento).Format("{0:dd/MM/yyyy hh:mm tt}").Title("Fecha").Width(200);

                                                    })
                                                    .Filterable(f => f.Operators(o => o.ForString(s => s
                                                    .Clear()
                                                    .Contains("Contiene")
                                                    .DoesNotContain("No contiene")
                                                    .EndsWith("Termina con")
                                                    .IsEqualTo("Es igual a")
                                                    .IsNotEqualTo("No es igual a")
                                                    .IsNull("Es nulo")
                                                    .StartsWith("Inicia con")


                                                    )
                                                    .ForNumber(n => n
                                                    .Clear()
                                                    .IsEqualTo("Es igual a")
                                                    .IsGreaterThan("Es mayor que")
                                                    .IsLessThan("Es menor que")
                                                    .IsNull("Es nulo")
                                                    .IsLessThanOrEqualTo("Es menor o igual que")
                                                    .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                    )
                                                    .ForDate(d => d
                                                    .Clear()
                                                    .IsEqualTo("Es igual que")
                                                    .IsGreaterThan("Es mayor que")
                                                    .IsLessThan("Es menor que")
                                                    .IsLessThanOrEqualTo("Es menor o igual que")
                                                    .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                    .IsNotEqualTo("No es igual que")
                                                    )
                                                    ))
                                                    .ToolBar(tools =>
                                                    {
                                                        // tools.Create();
                                                        //tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus").HtmlAttributes(new { @onclick = "Agregar();" });
                                                        //tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                                                        //tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });



                                                    })
                                                    .Editable(e => e.Mode(GridEditMode.PopUp))
                                                    .Sortable()
                                                    .Pageable()
                                                    .Filterable()
                                                    .Scrollable()
                                                    .Pdf(pdf => pdf.FileName("ProductReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                                    .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                                    .Excel(excel => excel.FileName("ProductReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                                    .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                                    .DataSource(dataSource =>
                                                    dataSource
                                                    .WebApi()

                                                    .ServerOperation(true)
                                                    .Model(model =>
                                                    {

                                                    })
                                                    .Events(events => events.Error("error_handler"))
                                                    .Read(read => read.Action("GetContratoMovimientoByContratoId", "Contrato_movimientos").Data("GetInvoiceId"))
                                                    //.Create(create => create.Action("Insert", "Product"))
                                                    //.Update(update => update.Action("Update", "Product", new { TypeAccountId = "{0}" }).Type(HttpVerbs.Put))

                                                    )
                                                    .Events(e =>
                                                    {


                                                    })
)
@section scriptsKendo {
    <script>


    $.ajax({
            url: '@Url.Action("GetProductos", "Product")',
            type: "POST",
            async: true,
            dataType: "json",
        data: $('#gridProduct').serialize(),
        success: function (data) {
               //process result
            $("#ProductId").val(data.ProductId);
            },
            error: function (request, status, error) {
               //process error message
                console.log(textStatus + ": " + XMLHttpRequest.responseText);
                notification.show({
                    title: "Validación",
                    message: textStatus + ": " + XMLHttpRequest.responseText
                }, "error");
            }
    });

    </script>
}

