@model ERPMVC.Models.Contrato

@using Syncfusion.JavaScript

<div style=" align-items:center; height:525px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" processing-mode="Remote" locale="es-ES" ajax-before-load="ajaxBeforeLoad" report-service-url="/ReportViewer" report-loaded="onReportLoaded" report-path="/ReportsTemplate/Contrato.rdl" />
</div>


<script type="text/javascript">


    function ajaxBeforeLoad(event) {
        var parameters = [{
            name: 'ContratoId',
            labels: ['@Model.ContratoId'],
            values: [@Model.ContratoId],
            nullable: false
        } 
        ];
        event.data = parameters;
    };

    function onReportLoaded(sender) {

        var reportObj = $('#reportviewer1').data("ejReportViewer");
        console.log('Llega al ReportLoaded');
        reportObj.model.parameters = [{
            name: 'ContratoId',
            labels: ['@Model.ContratoId'],
            values: ['@Model.ContratoId'],
            nullable: false
        }
        ];
    }

</script>


<ej-script-manager></ej-script-manager>

