@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "TIPOS DE CUENTAS";
}

<script>

    function onsave(e) {
     //   console.log(new Date(e.model.FechaRecepcion).toISOString());
       // e.model.set('FechaRecepcion', new Date(e.model.FechaRecepcion).toISOString());
    }

   
    function AddTypeAccount() {



        $('#ModalTypeAccount').find(':input').not(':submit').val('');

        $('#ModalTypeAccount').modal('show');
        $("#TypeAccountId").val('0');





      }


    function EditTypeAccount(e) {
             e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dataObject = {
            TypeAccountId: dataItem.TypeAccountId,
                editar : 0
            };

            $.ajax({
                url: '@Url.Action("pvwAddTypeAccount", "TypeAccount")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    $("#NumTypeAccount").html('');
                    $("#NumTypeAccount").html(result);


                    //$("#btnCAI").hide();
                    $('#ModalTypeAccount').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
         }



</script>

<h3 class="text-themecolor">Tipo de Cuentas</h3>
@(Html.Kendo().Grid<ERPMVC.Models.TypeAccount>
                        ()
                        .Name("gridNumeracionTypeAccount")
                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                                //command.Custom("Ver detalles").Click("Detalles");
                                //command.Custom("Editar").Click("EditTypeAccount");
                                command.Custom("Editar").Text(" ").IconClass("fa fa-edit").Click("EditTypeAccount");

                                //  command.Destroy();
                            }).Width(100);
                            columns.Bound(p => p.TypeAccountId).Title("Codigo").Width(2);
                            columns.Bound(p => p.TypeAccountName).Title("Nombre de Tipo").Width(200);




                        })
                            .Filterable(f => f.Operators(o => o.ForString(s => s
                                                   .Clear()
                                                   .Contains("Contiene")
                                                   .DoesNotContain("No contiene")
                                                   .EndsWith("Termina con")
                                                   .IsEqualTo("Es igual a")
                                                   .IsNotEqualTo("No es igual a")
                                                   .IsNull("Es nulo")
                                                   .StartsWith("Inicia con")


                                             )
                                             .ForNumber(n => n
                                               .Clear()
                                               .IsEqualTo("Es igual a")
                                               .IsGreaterThan("Es mayor que")
                                               .IsLessThan("Es menor que")
                                               .IsNull("Es nulo")
                                               .IsLessThanOrEqualTo("Es menor o igual que")
                                               .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             )
                                             .ForDate(d => d
                                             .Clear()
                                             .IsEqualTo("Es igual que")
                                             .IsGreaterThan("Es mayor que")
                                             .IsLessThan("Es menor que")
                                             .IsLessThanOrEqualTo("Es menor o igual que")
                                             .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             .IsNotEqualTo("No es igual que")
                                              )
                                           ))
                        .ToolBar(tools =>
                        {
                            // tools.Create();
                            tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                                                               .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddTypeAccount()" });
                            tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                            tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });



                        })
                        .Editable(e => e.Mode(GridEditMode.PopUp))
                        .Sortable()
                        .Pageable()
                        .Filterable()
                        .Scrollable()
                        .Pdf(pdf => pdf.FileName("TypeAccountReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                        .ProxyURL(Url.Action("Export", "Home")).AllPages())
                            .Excel(excel => excel.FileName("TypeAccountReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                        .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                        .DataSource(dataSource =>
                            dataSource
                            .WebApi()

                            .ServerOperation(true)
                            .Model(model =>
                            {
                                model.Id(p => p.TypeAccountId);
                                model.Field(p => p.TypeAccountName).Editable(false);

                            })
                            .Events(events => events.Error("error_handler"))
                            .Read(read => read.Action("GetTypeAccount", "TypeAccount"))
                            .Create(create => create.Action("Insert", "TypeAccount"))
                            .Update(update => update.Action("Update", "TypeAccount", new { TypeAccountId = "{0}" }).Type(HttpVerbs.Put))
                        //.Destroy(destroy => destroy.Action("Delete", "TypeAccount", new { Num = "{1}" }).Type(HttpVerbs.Delete))

                        )
                        .Events(e =>
                        {
                            e.Save("onsave");

                        })
)

<div id="NumTypeAccount">
    @await Html.PartialAsync("pvwAddTypeAccount", new ERPMVC.DTO.TypeAccountDTO { TypeAccountId = 0 })
</div>