@*@page "{handler?}"*@
@*@model SFPrintContract*@

<script src="~/scripts/ej2.min.js"></script>

@using Syncfusion.EJ2
<div class="control-section">
    <ejs-pdfviewer id="pdfviewer" serviceUrl="/api/PdfViewer" documentPath="@ViewBag.pathcontrato"></ejs-pdfviewer>
</div>
<style>
    #pdfviewer {
        height: 700px;
        width: 100%;
    }
</style>