@model ERPMVC.DTO.DependientesDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalDependientes" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dependientes</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmDependientes" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveDependientes"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Dependientes</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdDependientes" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdDependientes" name="IdDependientes" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdDependientes" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreDependientes" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NombreDependientes" name="NombreDependientes" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="NombreDependientes" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Parentezco" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Parentezco" name="Parentezco" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Parentezco" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Telefono" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Telefono" name="Telefono" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Direccion" name="Direccion" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            @*<div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="IdEmpleado" class="control-label">Estado</label>
                                                        <kendo-dropdownlist name="IdEstado"
                                                                            for="@Model.IdEmpleado"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar Estado"
                                                                            datatextfield="NombreEstado"
                                                                            datavaluefield="IdEstado"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    </div>
                                                </div>*@
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnDependientes" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveDependientes(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnDependientes").hide();
            $("#btnDependientes").prop("disabled", true);

            //var displayedData = $("#gridDependientes").data().kendoGrid.dataSource.view();

            var dataObject = {  'IdDependientes': $("#IdDependientes").val()===""?"0":$("#IdDependientes").val(),
                           'NombreDependientes': $("#NombreDependientes").val(),
                           'Parentezco': $("#Parentezco").val(),
                           'Telefono': $("#Telefono").val(),
                           'Direccion': $("#Direccion").val(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'Usuariocreacion':$("#Usuariocreacion").val(),
                           'Usuariomodificacion':$("#Usuariomodificacion").val(),
                           '_Dependientes': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmDependientes").data("kendoValidator");
                 var status = $(".status");

           
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveDependientes", "Dependientes")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 4000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalDependientes').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Ingrese todos los datos en el formulario!"
                    }, "error");
                }
            

            $("#btnDependientes").show();
            $("#btnDependientes").prop("disabled", false);
    }
</script>
