@model ERPMVC.Models.ControlPalletsLine




<script>

    completedorderlinemant = function (xhr) {

        $('#myModalControlPalletsLine').find(':input').not('#ControlPalletsId :submit').val('0');
        CalcularTotalDocumento();
        $("#btnActualizarCotizacionLinea").prop("disabled", false);
        GetBoletaPeso();
       closesaleorderline();
    };


    function closesaleorderline() {
        $("#myModalControlPalletsLine").modal('hide');

    }

    function CalcularTotal() {
       // debugger;
        var Ancho = Number($("#Ancho").val());
        var Alto = Number($("#Alto").val());
        var Otros = Number($("#Otros").val());
        var Totallinea = (Ancho * Alto) + Otros;

        setearvalor("Totallinea", Totallinea);      
      
    }


    function CalcularTotalDocumento() {
      //  var freight = $("#Freight").val()===""?0:$("#Freight").val();

        var notification = $("#notification").data("kendoNotification");
        var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();
        var total = 0, TotalSacosPolietileno = 0, TotalSacosYute=0;

            //totaldescuento = 0, totalimpuesto = 0, totalimpuesto18 = 0, totalmonto = 0;
        //var TotalExento = 0, TotalExonerado = 0, TotalGravado = 0,TotalGravado18=0;
       // console.log(displayedData);
        $(displayedData).each(function (index, element) {
            var t = JSON.parse(JSON.stringify(element));

            total = total + t["Totallinea"];       
            TotalSacosPolietileno += t["cantidadPoliEtileno"];
            TotalSacosYute += t["cantidadYute"];

       });      

       // setearvalor('SubTotal', TotalExento);
        setearvalor('TotalSacos', total);
        setearvalor('TotalSacosPolietileno', TotalSacosPolietileno);
        setearvalor('TotalSacosYute', TotalSacosYute);
    
    }

    function AddControlPalletsDetail(e) {
       // e.preventDefault();
        $("#btnActualizarCotizacionLinea").prop("disabled", true);
        
        var notification = $("#notification").data("kendoNotification");
        var validator = $("#frmControlPalletsLine").data("kendoValidator");

        var totaltipo = Number($("#cantidadYute").val()) + Number($("#cantidadPoliEtileno").val());
        var Totallinea = Number($("#Totallinea").val());

      //console.log(totaltipo);
      //console.log(Totallinea);
        if (validator.validate()) {
            if (totaltipo == Totallinea) {
                RefreshControlPalletsDetail();
               // completedorderlinemant();
               
            }
            else {
                $("#btnActualizarCotizacionLinea").prop("disabled", false);
                notification.show({
                    title: "Validación",
                    message: "Haga coincidir el total con la suma de cantidades de sacos.!"
                }, "error");

                return false;
            }
        }
   

    }

    function setearvalor(nombrenumerico,valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }



    function GetPercentage() {
        var dataObject = { TaxId: $("#TaxCode").val()};
         $.ajax({
            url: '@Url.Action("GetTaxById","Tax")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
             success: function (result) {
                 setearvalor("TaxPercentage", result.TaxPercentage);
                 CalcularTotal();
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });

    }

  

    function cargarloader() {
       $("#btnActualizarCotizacionLinea").prop("disabled", true);
    }

    function agregarcondicionpopup() {
        var dataObject = { 'ConditionId': $("#ConditionId").val() };

           $.ajax({
            url: '@Url.Action("pvwConditions","Conditions")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
               success: function (result) {
                   //console.log(result);
                   //debugger;
                   $("#ConditionView").html('');
                   $("#ConditionView").html(result);

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });

        $('#myModalConditions').modal('show');

    }

    function AgregarCustomerCondition() {
        var notification = $("#notification").data("kendoNotification");               

        if ($("#SalesOrderId").val() > 0) {
            $('#myModalCustomerConditions').modal('show');
        }
        else {
            notification.show({
                title: "Validación",
                message: "Para agregar una condición debe generar el documento!"
            }, "info");
        }
    }

</script>

<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="myModalControlPalletsLine" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closesaleorderline();">&times;</button>
                <script>
                    $("#EsIngreso").val() == 1 ? $("#titulo").text("Detalle de control de Ingresos ") : $("#titulo").text("Detalle de control de salidas ");
                </script>
                <h4 class="modal-title" id="titulo">Detalle de control de  </h4>
            </div>
            <div class="modal-body">

                @{
                    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },                                                                
                                                            {"required","Valor requerido" }

                                                         };
                    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" }
                         
                    };
                }

                @*<div class="row">
                    <div class="col-md-12">
                        <div class="card-base">
                            <div class="card-icon">
                                <a href="#" title="Widgets" id="widgetCardIcon" class="imagecard">
                                    <span class="fa fa-plus-hexagon"></span>
                                </a>
                                <div class="card-data widgetCardData">
                                    <h2 class="box-title" style="color:#3c8dbc;text-align:center">Condiciones</h2>                                  
                                    <button id="btnAgregarCondicion" type="submit" onclick="agregarcondicionpopup();" class="form-control">Agregar Condición</button>
                                    <button id="btnAgregarCustomerCondicion" type="submit" onclick="AgregarCustomerCondition();" class="form-control"><i class="fa fa-plus-circle"></i>Agregar Valores</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>*@

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">      
                            <div class="card-body">
                                <form id="frmControlPalletsLine"
                                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                                      data-ajax-method="post"
                                      method="post"
                                      data-ajax-complete="completedorderlinemant"
                                      data-ajax-begin="return AddControlPalletsDetail();"
                                      data-ajax="true"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ControlPalletsLineId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="ControlPalletsLineId" class="form-control" disabled />

                                                </div>
                                            </div>                           
                                        </div>

                                        <div class="row">
                                           <script>
                                               $(".k-button").on('click', function () {
                                                //   $('#Alto').data("kendoNumericTextBox").value(null);
                                                   // $('#text').html('reset clicked');
                                                   $("#myModalControlPalletsLine").find('[data-role="numerictextbox"]').each(function () {
                                                       var $textbox = $(this);
                                                       console.log($($textbox).id);
                                                       $textbox.data("kendoNumericTextBox").value(null);
                                                   });

                                               });

                                           </script>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    
                                                    <label asp-for="Alto" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Alto"
                                                                          format="##"
                                                                          min="0"
                                                                          decimals="0"                                                                         
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.Alto"></kendo-numerictextbox>
                                                    <span asp-validation-for="Alto" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Ancho" class="control-label" style="width:100%"></label>
                                                    @*<input type="text" id="Ancho" asp-for="Ancho" class="form-control" style="width:100%" />*@
                                                    <kendo-numerictextbox name="Ancho"
                                                                          format="##"                                                                         
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.Ancho"></kendo-numerictextbox>
                                                    <span asp-validation-for="Ancho" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Otros" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Otros"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.Otros"></kendo-numerictextbox>
                                                    <span asp-validation-for="Otros" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="cantidadYute" class="control-label" style="width:100%"></label>

                                                    <kendo-numerictextbox name="cantidadYute"
                                                                          format="n"
                                                                          min="0"
                                                                          decimals="0"
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.cantidadYute"></kendo-numerictextbox>
                                                    <span asp-validation-for="cantidadYute" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="cantidadPoliEtileno" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="cantidadPoliEtileno"
                                                                          format="nA"
                                                                          decimals="0"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.cantidadPoliEtileno"></kendo-numerictextbox>
                                                    <span asp-validation-for="cantidadPoliEtileno" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Totallinea" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Totallinea"
                                                                          format="n2"
                                                                          id="Totallinea"
                                                                          spinners="false"
                                                                          min="0"
                                                                          required
                                                                          decimals="0"
                                                                          disabled
                                                                          step="1"
                                                                          style="width:100%"
                                                                          value="Model.Totallinea"></kendo-numerictextbox>

                                                    <span asp-validation-for="Totallinea" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <button id="btnActualizarCotizacionLinea" type="submit"  class="form-control">Actualizar</button>
                                    </div>

                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
