@model ERPMVC.DTO.ControlPalletsDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required","Valor requerido" },

                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" }

};
}



<script>

    function validacionesFunction(input) {
        if (input.attr('name') === "cantidadPoliEtileno") {
            //console.log(input);
            var totaltipo = Number($("#cantidadYute").val()) + Number($("#cantidadPoliEtileno").val());
            var Totallinea = $("#Totallinea").val();
            // console.log(Number(totaltipo));
            // console.log(Number(Totallinea));
            if (Number(totaltipo) != Number(Totallinea)) {
                //console.log('Entra a false ');
                return false;
            }

        }
    }

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "WeightBallot" && input.val() == 0) {
            return false;
        }


        return true;
    }


    function closeGoodsDelivered() {
        $("#myModalControlPallets").modal('hide');
        var grid = $("#gridEstibas").getKendoGrid();
        grid.dataSource.read();
    }



</script>

<div class="card card-outline-inverse">
    <div class="card-header">
        <h3 class="m-b-0 text-white">Transferencia de Inventario (Salidas)</h3>
    </div>
    <div class="card-body">

        <div class="row" id="validation">
            <div class="col-lg-12">
                <div class="card">


                    <div class="card-body">
                        <form id="frmControlPallets" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              method="post" class="validation-wizard wizard-circle">
                            <div class="col-lg-offset-12" align="right">
                                <button type="button" id="btnGuardar" class="btn btn-default" onclick="GuardarUoM(this);">Guardar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Enviar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Recibir</button>
                            </div>
                            <hr />
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Guía de Remisión No.</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class=" control-label" style="width:100%">Fecha</label>
                                            <kendo-datetimepicker name="FechaNacimiento" style="width: 100%;"
                                                                  format="dd/MM/yyyy"
                                                                  data-val-required="La fecha es requerida"
                                                                  onchange="PrevenirCambios()"></kendo-datetimepicker>
                                            @*<span asp-validation-for="" class="text-danger"></span>*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Estado</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Sucursal Origen</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Generada por</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Enviada por</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Sucursal destino</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Aprobada por</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;">Recibida por</label>
                                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>
                                </div>
                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwControlPalletsDetail", Model)
                                </div>

                                <div id="ControlPalletsLineMant">
                                    @await Html.PartialAsync("pvwControlPalletsDetailMant", new ERPMVC.Models.ControlPalletsLine { ControlPalletsLineId = 0, ControlPalletsId = Model.ControlPalletsId })
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Marca" class="control-label" style="width: 100%;">Notas</label>
                                        <textarea name="textarea" class="form-control" style="min-width: 100%;"></textarea>
                                    </div>
                                </div>


                            </div>
                        </form>

                        

                        @*<div class="row">
                            @if (Model.editar == 1)
                            {
                                <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveControlPallets(this);">Guardar</button>
                            }
                        </div>*@


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="goodsReceived">
    @await Html.PartialAsync("pvwModalProduct", new ERPMVC.Models.Product())
</div>

<script>


    function RefreshGridEstibas() {
        var grid = $("#gridEstibas").getKendoGrid();
        grid.dataSource.read();

    }

    function SaveControlPallets(e) {

        var notification = $("#notification").data("kendoNotification");
        // e.preventDefault();
        $("#btnSaveControlEstiba").hide();
        $("#btnSaveControlEstiba").prop("disabled", true);

        var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();

        if ($("#EsIngreso").val() == 0) {
            if ($("#cbxBuscar").val() === 0 || $("#cbxBuscar").val() === '') {
                $.toast({
                    heading: 'Autorización de mercadería',
                    text: 'Ud debe seleccionar la autorización de mercadería.',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'warning',
                    hideAfter: 30000,
                    stack: 6
                });

                $("#btnSaveControlEstiba").show();
                $("#btnSaveControlEstiba").prop("disabled", false);

                return false;
            }
        }


        var dataObject = {
            'ControlPalletsId': $("#ControlPalletsId").val() === "" ? "0" : $("#ControlPalletsId").val(),
            'Motorista': $("#Motorista").val(),
            'WarehouseId': $("#WarehouseId").val(),
            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'ProductId': $("#ProductId").val(),
            'ProductName': $("#ProductId").data("kendoDropDownList").text(),
            'DescriptionProduct': $("#ProductId").data("kendoDropDownList").text(),
            'SubProductId': $("#SubProductId").val(),
            'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),
            'Placa': $("#Placa").val(),
            'Marca': $("#Marca").val(),
            'PalletId': $("#PalletId").val(),
            'EsIngreso': $("#EsIngreso").val(),
            'EsSalida': $("#EsSalida").val(),
            'SubTotal': $("#SubTotal").val(),
            'TotalSacos': $("#TotalSacos").val(),
            'SacosDevueltos': $("#SacosDevueltos").val(),
            'QQPesoBruto': $("#QQPesoBruto").val(),
            'Tara': $("#Tara").val(),
            'QQPesoNeto': $("#QQPesoNeto").val(),
            'QQPesoFinal': $("#QQPesoFinal").val(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'BranchId': $("#BranchId").val(),
            'BranchName': $("#BranchId").data("kendoDropDownList").text(),
            'WeightBallot': $("#WeightBallot").val(),
            'TotalSacosPolietileno': $("#TotalSacosPolietileno").val(),
            'TotalSacosYute': $("#TotalSacosYute").val(),
            'GoodsDeliveryAuthorizationId': $("#cbxBuscar").val(),
            'UnitOfMeasureId': $("#UnitOfMeasureId").val(),
            'UnitOfMeasureName': $("#UnitOfMeasureId").data("kendoDropDownList").text(),
            '_ControlPalletsLine': displayedData
        };

        var validator = $("#frmControlPallets").data("kendoValidator");
        var validator2 = $("#TotalesDocumento").data("kendoValidator");
        var status = $(".status");

        var validadetalle = true;
        var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].ControlPalletsLineId = 0;
        }

        if (displayedData.length > 0) {
            if (validator.validate() && validator2.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveControlPallets", "ControlPallets")',
                    method: 'POST',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {

                        $("#ControlPalletsId").data("kendoNumericTextBox").value(data.ControlPalletsId);

                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        ImprimirControlPallet(null, data.ControlPalletsId);

                        //notification.show({
                        //    message: "Guardado correctamente!"
                        //}, "upload-success");

                        RefreshGridEstibas();
                        $('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveControlEstiba").show();
                        $("#btnSaveControlEstiba").prop("disabled", false);
                        $("#btngenerarfactura").show();
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                $("#btnSaveControlEstiba").show();
                $("#btnSaveControlEstiba").prop("disabled", false);
                //status.text("Oops! There is invalid data in the form.")
                //    .removeClass("valid")
                //    .addClass("invalid");
            }
        }
        else {
            $("#btnSaveControlEstiba").show();
            $("#btnSaveControlEstiba").prop("disabled", false);
            notification.show({
                title: "Validacion",
                message: "Debe agregar los productos!"
            }, "error");

        }

        //  $("#btnSaveControlEstiba").show();

    }



</script>