@model ERPMVC.DTO.ControlPalletsDTO

@using Syncfusion.JavaScript

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" processing-mode="Remote" auto-render="true"  print-option="NewTab" print-mode="true"
                      ajax-before-load="ajaxBeforeLoad" report-service-url="/ReportViewer" report-print="onPrintReport" report-loaded="onReportLoaded" report-path="/ReportsTemplate/ControlEstibas.rdl" />
</div>




<script type="text/javascript">

    function ajaxBeforeLoad(event) {
        var parameters = [{
            name: 'ControlPalletsId',
            labels: ['@Model.ControlPalletsId'],
            values: [@Model.ControlPalletsId],
            nullable: false
        }
        ];
        event.data = parameters;
    };

    function onReportLoaded(sender) {
        var reportObj = $('#reportviewer1').data("ejReportViewer");
        reportObj.model.parameters = [{
            name: 'ControlPalletsId',
            labels: ['@Model.ControlPalletsId'],
            values: ['@Model.ControlPalletsId'],
            nullable: false
        }
        ];
    }


    function onPrintReport(args) {
        args.isStyleLoad = false;
        var data = $("#reportviewer1").data('ejReportViewer');
        if (data._browserInfo.name != "msie") {
            args.printWind.printDelay = 2000 * data._pageModel.TotalPages;
        }
    }

    function onPrintProgressChanged(args) {
        if (args.stage == "beginPrint") {
            $('#reportviewer1').ejWaitingPopup({ showOnInit: true, cssClass: "customStyle", text: "Preparing print data.. Please wait..." });
        }
        if (args.stage == "printStarted") {
            var popupObj = $('#reportviewer1').data('ejWaitingPopup');
            popupObj.hide();
        }
        else if (args.stage == "preparation") {
            console.log(args.stage);
            if (args.preparationStage == "dataPreparation") {
                console.log(args.preparationStage);
                console.log(args.totalPages);
                console.log(args.currentPage);
                if (args.totalPages > 1 && args.currentPage > 1) {
                    var progressPercentage = Math.floor((args.currentPage / args.totalPages) * 100);
                    if (progressPercentage > 0) {
                        var popupObj = $('#reportviewer1').data('ejWaitingPopup');
                        popupObj.setModel({ text: "Preparing print data.." + progressPercentage + " % completed.. Please wait..." });
                    }
                }
            }
        }

        args.handled = true;
    }


</script>


<ej-script-manager></ej-script-manager>