@model ERPMVC.DTO.CostListItemDTO

    <h4>CostListItemDTO</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CostListItem" id="CostListItemDTOForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CostListItemId" />
                <div class="form-group">
                    <label asp-for="SubproductId"></label>
                    <kendo-numerictextbox for="SubproductId" />
                    <span asp-validation-for="SubproductId" class="text-danger k-invalid-msg" data-for="SubproductId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExchangeRateId"></label>
                    <kendo-numerictextbox for="ExchangeRateId" />
                    <span asp-validation-for="ExchangeRateId" class="text-danger k-invalid-msg" data-for="ExchangeRateId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DayofCalcule"></label>
                    <kendo-datetimepicker for="DayofCalcule" />
                    <span asp-validation-for="DayofCalcule" class="text-danger k-invalid-msg" data-for="DayofCalcule"></span>
                 </div>
                <div class="form-group">
                    <label asp-for="PriceBagValue"></label>
                    <kendo-numerictextbox for="PriceBagValue" />
                    <span asp-validation-for="PriceBagValue" class="text-danger k-invalid-msg" data-for="PriceBagValue"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DifferencyPriceBagValue"></label>
                    <kendo-numerictextbox for="DifferencyPriceBagValue" />
                    <span asp-validation-for="DifferencyPriceBagValue" class="text-danger k-invalid-msg" data-for="DifferencyPriceBagValue"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPriceBagValue"></label>
                    <kendo-numerictextbox for="TotalPriceBagValue" />
                    <span asp-validation-for="TotalPriceBagValue" class="text-danger k-invalid-msg" data-for="TotalPriceBagValue"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceBagValueCurrency"></label>
                    <kendo-numerictextbox for="PriceBagValueCurrency" />
                    <span asp-validation-for="PriceBagValueCurrency" class="text-danger k-invalid-msg" data-for="PriceBagValueCurrency"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PorcentagePriceBagValue"></label>
                    <kendo-numerictextbox for="PorcentagePriceBagValue" />
                    <span asp-validation-for="PorcentagePriceBagValue" class="text-danger k-invalid-msg" data-for="PorcentagePriceBagValue"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RealBagValueCurrency"></label>
                    <kendo-numerictextbox for="RealBagValueCurrency" />
                    <span asp-validation-for="RealBagValueCurrency" class="text-danger k-invalid-msg" data-for="RealBagValueCurrency"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConRealBagValueInside"></label>
                    <kendo-numerictextbox for="ConRealBagValueInside" />
                    <span asp-validation-for="ConRealBagValueInside" class="text-danger k-invalid-msg" data-for="ConRealBagValueInside"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PCRealBagValueInside"></label>
                    <kendo-numerictextbox for="PCRealBagValueInside" />
                    <span asp-validation-for="PCRealBagValueInside" class="text-danger k-invalid-msg" data-for="PCRealBagValueInside"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RealBagValueInside"></label>
                    <kendo-numerictextbox for="RealBagValueInside" />
                    <span asp-validation-for="RealBagValueInside" class="text-danger k-invalid-msg" data-for="RealBagValueInside"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalIncomes"></label>
                    <kendo-numerictextbox for="TotalIncomes" />
                    <span asp-validation-for="TotalIncomes" class="text-danger k-invalid-msg" data-for="TotalIncomes"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecipientExpenses"></label>
                    <kendo-numerictextbox for="RecipientExpenses" />
                    <span asp-validation-for="RecipientExpenses" class="text-danger k-invalid-msg" data-for="RecipientExpenses"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EscrowExpenses"></label>
                    <kendo-numerictextbox for="EscrowExpenses" />
                    <span asp-validation-for="EscrowExpenses" class="text-danger k-invalid-msg" data-for="EscrowExpenses"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UtilityExpenses"></label>
                    <kendo-numerictextbox for="UtilityExpenses" />
                    <span asp-validation-for="UtilityExpenses" class="text-danger k-invalid-msg" data-for="UtilityExpenses"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PermiseExportExpenses"></label>
                    <kendo-numerictextbox for="PermiseExportExpenses" />
                    <span asp-validation-for="PermiseExportExpenses" class="text-danger k-invalid-msg" data-for="PermiseExportExpenses"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaxesExpenses"></label>
                    <kendo-numerictextbox for="TaxesExpenses" />
                    <span asp-validation-for="TaxesExpenses" class="text-danger k-invalid-msg" data-for="TaxesExpenses"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalExpenses"></label>
                    <kendo-numerictextbox for="TotalExpenses" />
                    <span asp-validation-for="TotalExpenses" class="text-danger k-invalid-msg" data-for="TotalExpenses"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalExpensesCurrency"></label>
                    <kendo-numerictextbox for="TotalExpensesCurrency" />
                    <span asp-validation-for="TotalExpensesCurrency" class="text-danger k-invalid-msg" data-for="TotalExpensesCurrency"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="k-button k-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="k-button">Back to List</a>
    </div>

