@model ERPMVC.Models.Marca
@{Layout = null;
    var messages = new Dictionary<string, string>() {
        { "custom", "Ingrese un valor correcto." },
{ "required","Requerido" }
    };


}


<div id="Modal" class="modal fade"  role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titulo">Marca</h4>
                <button type="button" class="close" onclick="CerrarModal()" aria-hidden="true">×</button>

            </div>
            <form id="frmMarca" kendo-validator="true" kendo-messages="messages" onsubmit="return false"
                  data-ajax-method="post"
                  data-ajax-begin="SaveMarca"
                  class="validation-wizard wizard-circle">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" hidden>
                            <div class="form-group">
                                <label asp-for="MarcaId" class=" control-label" style="width:100%"></label>
                                <input type="text" asp-for="MarcaId" name="MarcaId" class="form-control" style="width:100%" />
                                <span asp-validation-for="MarcaId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class=" control-label" style="width:100%">Descripción</label>
                                <input type="text" asp-for="Description" name="Description" class="form-control" maxlength="200" required data-required-msg="La Descripcion es Requerido."  style="width:100%"  onchange="PrevenirCambios()" onkeypress="return soloLetras(event)"/>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Estado" class="control-label"></label>
                                <kendo-dropdownlist name="IdEstado"
                                                    option-label="Seleccione un Estado"
                                                    for="@Model.IdEstado"
                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    datatextfield="NombreEstado"
                                                    required data-required-msg="El Estado es Requerido."
                                                    datavaluefield="IdEstado"
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                        <transport>
                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">                    
                    <button id="btnMarca" class="btn btn-success" type="submit"  onclick="Guardar(this);"> Guardar </button>
                    <button type="button" class="btn btn-default" onclick="CerrarModal()" >Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var changes = false;

    function PrevenirCambios() {
        changes = true;
    }
    function CerrarModal() {
        if (changes) {
            swal({
                title: "Cerrar",
                text: "Los datos que aun no se han guardado del formulario se perderan ¿Desea Continuar? ",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
                //closeOnConfirm: false
            }, function () {
                $('#Modal').modal('hide');
            });
        } else {
            $('#Modal').modal('hide');
        }
    }
    function RefreshGridUnidades() {

        var grid = $("#grid").getKendoGrid();
        grid.dataSource.read();
    }

    function Guardar(e) {

        //$("#btnGuardar").hide();
        //$("#btnGuardar").prop("disabled", true);

        var dataObject = {
            'MarcaId': $("#MarcaId").val(),
            'MarcaName': $("#MarcaName").val(),
            'Description': $("#Description").val(),
            //'MarcaId': $("#MarcaId").data("kendoDropDownList").text(),
            'IdEstado': $("#IdEstado").val(),
            'Estado': $("#IdEstado").data("kendoDropDownList").text()
                //'UsuarioCreacion': $("#UsuarioCreacion").val(),
            //'UsuarioModificacion': $("#UsuarioModificacion").val(),
            //'FechaCreacion': $("#FechaCreacion").val(),
            //'FechaModificacion': $("#FechaModificacion").val(),

        };
        var validator = $("#frmMarca").data("kendoValidator");

            if (validator.validate()) {
                $.ajax({
                    url: '@Url.Action("SaveMarca", "Marcas")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                        $("#MarcaId").val(data.MarcaId);
                        swal("Marca","Datos guardados","success");
                        $('#Modal').modal('hide');
                        RefreshGridUnidades();

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnGuardar").show();
                        $("#btnGuardar").prop("disabled", false);
                        swal("Error", "Ha ocurrido un error al guardar los cambios" + textStatus, "error");
                    }
                });

            }
            else {
                $("#btnGuardar").show();
                $("#btnGuardar").prop("disabled", false);

            }
    }
    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
</script>
