@model ERPMVC.Models.UnitOfMeasure

@{Layout = null;
    var messages = new Dictionary<string, string>() { 
                                        {"required","Valor requerido" }
                                    };
 
}

<div id="UoModal" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titulo">Unidad de Medida</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form id="frmUnitOfMeasure" kendo-validator="true" kendo-messages="messages" 
                  data-ajax="true"
                  data-ajax-method="post"
                  method="post" class="validation-wizard wizard-circle">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">                            
                            <!-- ID -->
                            <div class="row">
                                <div class="col-sm-12 col-md-12" hidden>
                                    <div class="form-group">
                                        <label asp-for="UnitOfMeasureId" class="control-label" style="width:100%">Código</label>
                                        <input asp-for="UnitOfMeasureId" class="form-control disabled" style="min-width: 100% !important;" disabled />
                                        <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Descripción -->
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label asp-for="UnitOfMeasureName" class="control-label" style="width:100%">Unidad de Medida</label>
                                        <input asp-for="UnitOfMeasureName" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="UnitOfMeasureName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label" style="width:100%">Descripción</label>
                                        <input asp-for="Description" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <!-- Estado -->
                            <div class="row" hidden>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label asp-for="IdEstado" class="control-label">Estado: </label>
                                        <kendo-dropdownlist name="IdEstado" for="@Model.IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            @*option-label="Seleccionar Estado"*@ 
                                                            datatextfield="NombreEstado"
                                                            datavaluefield="IdEstado"
                                                            style="min-width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                <transport>
                                                    <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardar"  class="btn btn-success"  onclick="GuardarUoM(this);">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<script>

    function RefreshGridUnidades() {
     
        var grid = $("#gridUoM").getKendoGrid();
        grid.dataSource.read();
    }

    function GuardarUoM(e) {

        //$("#btnGuardar").hide();
        //$("#btnGuardar").prop("disabled", true);

        var dataObject = {
            'UnitOfMeasureId': $("#UnitOfMeasureId").val(),
            'UnitOfMeasureName': $("#UnitOfMeasureName").val(),
            'Description': $("#Description").val(),        
            'IdEstado': $("#IdEstado").val(),
            'Estado': $("#IdEstado").data("kendoDropDownList").text() 
                //'UsuarioCreacion': $("#UsuarioCreacion").val(),
            //'UsuarioModificacion': $("#UsuarioModificacion").val(),
            //'FechaCreacion': $("#FechaCreacion").val(),
            //'FechaModificacion': $("#FechaModificacion").val(),

        };
        var validator = $("#frmUnitOfMeasure").data("kendoValidator");

            if (validator.validate()) {
                $.ajax({
                    url: '@Url.Action("SaveUnitOfMeasure", "UnitOfMeasure")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                        $("#UnitOfMeasureId").val(data.UnitOfMeasureId);                       
                        swal("Unidad de Medida","Datos guardados","success");                       
                        $('#UoModal').modal('hide');
                        RefreshGridUnidades();

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnGuardar").show();
                        $("#btnGuardar").prop("disabled", false);
                        swal("Error", "Ha ocurrido un error al guardar los cambios" + textStatus, "error");
                    }
                });

            }
            else {
                $("#btnGuardar").show();
                $("#btnGuardar").prop("disabled", false);

            }
    }
</script>