@using Syncfusion.JavaScript

@{
    ViewData["Title"] = "Syncfusion ReportViewer control";
}


<div style=" align-items:center; height:525px;width: 100%;">
    @*<ej-report-viewer id="reportviewer1" report-service-url="../Home" report-path="/ReportsTemplate/Invoice.rdl" report-print="onReportPrint" />*@
    <ej-report-viewer id="reportviewer1" report-service-url="../Home"  report-path="/ReportsTemplate/Sales Order Detail.rdl" />
    @*<ej-report-viewer id="reportviewer1" report-service-url="../Home" report-path="/ReportsTemplate/GroupingAgg.rdl" processing-mode="Local" />*@
</div>


    @*<div style="height: 600px; width: 950px;">
            <!-- Creating a div tag which will act as a container for ejReportViewer widget.-->
            <div style="height: 600px; width: 950px; min-height: 400px;" id="viewer"></div>
            <!-- Setting property and initializing ejReportViewer widget.-->
            <script type="text/javascript">
                $(function () {
                    $("#viewer").ejReportViewer({
                        reportServiceUrl: '/Home',
                        reportPath: '/ReportsTemplate/Sales Order Detail.rdl',
                        processingMode: ej.ReportViewer.ProcessingMode.Remote,
                        reportLoaded: onReportLoadedviewer(this)
                    });
                });
            </script>
        </div>*@

        <script type="text/javascript">

       

            function onReportLoaded(sender) {
                var reportObj = $('#reportviewer1').data("ejReportViewer");
                console.log('Llega al ReportLoaded');
                reportObj.model.parameters = [{
                    name: 'SalesOrderNumber',
                    labels: ['SO50752'],
                    values: ['SO50752'],
                    nullable: false
                }];
            }

        </script>


    <ej-script-manager></ej-script-manager>