@model ERPMVC.DTO.GoodsDeliveryAuthorizationDTO



<script>


    function GetGoodsDeliveredLineId() {
        //debugger;
        var subproductname = '', unidaddemedida = '', WareHouseId='';
        if ($("#SubProductId") != null) {
            if ($("#SubProductId").data("kendoDropDownList") != null) {
                subproductname = $("#SubProductId").data("kendoDropDownList").text();
            }
        }

        if ($("#UnitOfMeasureId") != null) {
            if ($("#UnitOfMeasureId").data("kendoDropDownList") != null) {
                unidaddemedida = $("#UnitOfMeasureId").data("kendoDropDownList").text();
            }
        }

        if ($("#WarehouseId") != null) {
            if ($("#WarehouseId").data("kendoDropDownList") != null) {
                WareHouseId = $("#WarehouseId").data("kendoDropDownList").text();
            }
        }

        var displayedData = $("#gridGoodsDeliveredAuthorizationLine").data().kendoGrid.dataSource.data();
      
        debugger;



        if (Number($("#GoodsDeliveryAuthorizationLineId").val()) === 0) {
            if (displayedData.length > 0) {
                for (var i = 0; i < displayedData.length; i++) {

                    if (displayedData[i].GoodsDeliveryAuthorizationLineId > id)
                        id = displayedData[i].GoodsDeliveryAuthorizationLineId;

                }

                id = id + 1;
            }
        }
        else {
            id = $("#GoodsDeliveryAuthorizationLineId").val();
        }


        return {
             'GoodsDeliveryAuthorizationLineId':id,
			 'GoodsDeliveryAuthorizationId':@Model.GoodsDeliveryAuthorizationId,
			 'NoCertificadoDeposito':$("#NoCertificadoDeposito").val(),
			 'Quantity':$("#Quantity").val(),
			 'Description':$("#Description").val(),
			 'valorcertificado':$("#valorcertificado").val(),
			 'valorfinanciado':$("#valorfinanciado").val(),
			 'SubProductId':$("#SubProductId").val(),
             'SubProductName': subproductname,
			 'UnitOfMeasureId':$("#UnitOfMeasureId").val(),
             'UnitOfMeasureName': unidaddemedida,
             'WarehouseId': $("#WarehouseId").val(),
             'WarehouseName': WareHouseId,
             'SaldoProducto': $("#SaldoProducto").val(),
             'Price': $("#Price").val(),
             'ValorImpuestos': $("#ValorImpuestos").val(),
              'ValorImpuestosOriginal': $("#ValorImpuestosOriginal" + id).val(),
              'QuantityOriginal': $("#QuantityOriginal" + id).val()
        }
    }

    function RefreshGoodsDeliveredDetail() {
      //  console.log('Refresca Entrada de mercaderias');
        var grid = $("#gridGoodsDeliveredAuthorizationLine").getKendoGrid();
        grid.dataSource.read();
        grid.refresh();
    }


    function AddGoodsDeliveredDetalle() {
        var notification = $("#notification").data("kendoNotification");

        if ($("#ProductId").val() !== '' && $("#ProductId").val() !== '0'
            && $("#CustomerId").val() !== '0' && $("#CustomerId").val() !== ''  ) {
           // $("#frmGoodsDeliveryAuthorizationLine :input").not('#GoodsReceiveLinedId').prop("disabled", false);


            $('#myModalGoodsDeliveryAuthorizationLine').modal('show');
        } else {
            var notification = $("#notification").data("kendoNotification");
            notification.show({
                title: "Validacion",
                message: "Debe seleccionar un producto y un cliente!"
            }, "error");

        }

    }


    function EditGoodsDeliveryDetalle(e) {

        e.preventDefault();
        var notification = $("#notification").data("kendoNotification");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        debugger;
        if (dataItem.GoodsDeliveryAuthorizationId > 0) {
            var subproducto = 0;
            var dataObject = { 'GoodsDeliveryAuthorizationLineId': dataItem.GoodsDeliveryAuthorizationLineId };
            $.ajax({
                url: '@Url.Action("pvwGoodsDeliveredMant", "GoodsDeliveredLine")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    $("#ControlPalletsLineMant").html('');
                    $("#ControlPalletsLineMant").html(data);
                    var txt = $(data);
                    var found = $("#SubProductId", txt);
                    subproducto = $(found).val();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    //  $("#btngenerarfactura").show();
                    notification.show({
                        title: "Validacion",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });

            $("#frmGoodsDeliveryAuthorizationLine :input").prop("disabled", true);
            //llenarsubproduct();
            var combobox = $('#SubProductId').getKendoDropDownList();
            combobox.value(subproducto);
            combobox.trigger('change');
        }
        else {
            $("#GoodsDeliveryAuthorizationLineId").val(dataItem.GoodsDeliveryAuthorizationLineId);
            $("#GoodsDeliveryAuthorizationId").val(dataItem.GoodsDeliveryAuthorizationId);           
            $("#UnitOfMeasureName").val(dataItem.UnitOfMeasureName);
            $("#UnitOfMeasureId").data("kendoDropDownList").value(dataItem.UnitOfMeasureId);

            var valorcertificado = $("#valorcertificado").data("kendoNumericTextBox");
            valorcertificado.value(dataItem.valorcertificado);
            valorcertificado.trigger('change');

            var ValorImpuestos = $("#ValorImpuestos").data("kendoNumericTextBox");
            ValorImpuestos.value(dataItem.ValorImpuestos);
            ValorImpuestos.trigger('change');

            $("#ValorImpuestosOriginal" + dataItem.GoodsDeliveryAuthorizationLineId).val(dataItem.ValorImpuestosOriginal);
            $("#QuantityOriginal" + dataItem.GoodsDeliveryAuthorizationLineId).val(dataItem.QuantityOriginal);

            var valorfinanciado = $("#valorfinanciado").data("kendoNumericTextBox");
            valorfinanciado.value(dataItem.valorfinanciado);
            valorfinanciado.trigger('change');

            $("#SubProductId").data("kendoDropDownList").dataSource.read();          
            $("#WarehouseId").data("kendoDropDownList").value(dataItem.WarehouseId);

            $("#SubProductId").data("kendoDropDownList").value(dataItem.SubProductId);
            //$("#SubProductName").val(dataItem.SubProductName);
            if ($("#ProductId").val() == 2) {
                $("#divvalorimpuesto").css("display", "block");
            }
            else {
                $("#divvalorimpuesto").css("display", "none");
            }

            var quantity = $("#Quantity").data("kendoNumericTextBox");
            quantity.value(dataItem.Quantity);
            quantity.trigger('change');




            $("#Price").val(dataItem.Price);

            var NoCertificadoDeposito = $("#NoCertificadoDeposito").data("kendoNumericTextBox");
            NoCertificadoDeposito.value(dataItem.NoCertificadoDeposito);
            NoCertificadoDeposito.trigger('change');


            var esaldo = 0;
            var dataObject = {
                'DocumentId': dataItem.NoCertificadoDeposito,
                'DocumentName': "CD",
                'SubProducId': dataItem.SubProductId
            };

              $.ajax({
                url: '@Url.Action("GetSaldoProductoByCertificado", "Kardex")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    esaldo = data.TotalCD;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    //  $("#btngenerarfactura").show();
                    notification.show({
                        title: "Validacion",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });



             $("#SaldoProducto").data("kendoNumericTextBox").value(esaldo);

            //var Price = $("#Price").data("kendoNumericTextBox");
            //Price.value(dataItem.Price);
            //Price.trigger('change');

            //var Total = $("#Total").data("kendoNumericTextBox");
            //Total.value(dataItem.Total);
            //Total.trigger('change');

            //var quantitysacos= $("#QuantitySacos").data("kendoNumericTextBox");
            //if (quantitysacos !== null && dataItem.QuantitySacos != null)
            //    quantitysacos.value(dataItem.QuantitySacos);
            //    quantitysacos.trigger('change');

            //var total = $("#Total").data("kendoNumericTextBox");
            //if (total !== null)
            //    total.value(dataItem.TotalSacos);
            //      total.trigger('change');

            //$("#WareHouseId").data("kendoDropDownList").value(dataItem.WareHouseId);


            //data.WarehouseId
            //var ControlPalletsId = $("#ControlPalletsId").data("kendoNumericTextBox");
            //ControlPalletsId.value(dataItem.ControlPalletsId);
            //ControlPalletsId.trigger('change');
        }




        $('#myModalGoodsDeliveryAuthorizationLine').modal('show');

    }

    function Delete(e) {

        e.preventDefault();
        if (confirm('Esta seguro que desea eliminar la fila?')) {
            var notification = $("#notification").data("kendoNotification");
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            $.ajax({
                url: '@Url.Action("Delete", "GoodsDeliveredLine")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataItem),
                success: function (data) {
                    //$("#ControlPalletsLineMant").html('');
                    //$("#ControlPalletsLineMant").html(data);
                    //var txt = $(data);
                    //var found = $("#SubProductId", txt);
                    //subproducto = $(found).val();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    //  $("#btngenerarfactura").show();
                    notification.show({
                        title: "Validacion",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });

            var grid = $("#gridGoodsDeliveredAuthorizationLine").data("kendoGrid");
            grid.dataSource.remove(dataItem);
            //Sync it with the grid
            //grid.dataSource.sync();
        }
    }
</script>



<div class="box">
    <div class="box-body">

        @(Html.Kendo().Grid<ERPMVC.Models.GoodsDeliveryAuthorizationLineDTO>()
                                                  .Name("gridGoodsDeliveredAuthorizationLine")
                                                  .Columns(columns =>
                                                  {
                                                      columns.Command(command =>
                                                      {
                                                          if (Model.editar == 1)
                                                          {
                                                              command.Custom("Eliminar").Text(" ").IconClass("fa fa-trash-alt").Click("Delete");
                                                          }
                                                          command.Custom("Editar").Text(" ").IconClass("fa fa-edit").Click("EditGoodsDeliveryDetalle");
                                                  // command.Custom("Imprimir").Click("ImprimirCotizacion");
                                                  //  command.Edit(); command.Destroy();
                                              }).Width(100);

                                                      columns.Bound(p => p.GoodsDeliveryAuthorizationLineId).Title("Id Linea").Width(120);
                                                      columns.Bound(p => p.GoodsDeliveryAuthorizationId).Title("Entrega de Mercaderia").Width(150);
                                                      columns.Bound(p => p.NoCertificadoDeposito).Title("Número de certificado").Width(150);
                                                      columns.Bound(p => p.SubProductName).Width(150);
                                                      columns.Bound(p => p.WarehouseName).Title("Bodega").Width(150);
                                                      columns.Bound(p => p.ValorImpuestos).Visible(false).Width(0);
                                                      columns.Bound(p => p.ValorImpuestosOriginal).Visible(false).Width(0);
                                                      columns.Bound(p => p.QuantityOriginal).Visible(false).Width(0);
                                                      columns.Bound(p => p.UnitOfMeasureName).Title("Unidad de medida").Width(150);
                                                      columns.Bound(p => p.Quantity).Title("Cantidad").Width(150);
                                                      columns.Bound(p => p.Price).Visible(false);
                                                      columns.Bound(p => p.valorcertificado).Visible(true).Title("Valor certificado").Width(150);
                                                      columns.Bound(p => p.valorfinanciado).Title("Valor financiado").Width(100);
                                                  })
                                                      .Filterable(f => f.Operators(o => o.ForString(s => s
                                               .Clear()
                                               .Contains("Contiene")
                                                       .DoesNotContain("No contiene")
                                                       .EndsWith("Termina con")
                                                       .IsEqualTo("Es igual a")
                                                       .IsNotEqualTo("No es igual a")
                                                       .IsNull("Es nulo")
                                                       .StartsWith("Inicia con")


                                                 )
                                                 .ForNumber(n => n
                                                   .Clear()
                                                   .IsEqualTo("Es igual a")
                                                   .IsGreaterThan("Es mayor que")
                                                   .IsLessThan("Es menor que")
                                                   .IsNull("Es nulo")
                                                   .IsLessThanOrEqualTo("Es menor o igual que")
                                                   .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                 )
                                                 .ForDate(d => d
                                                 .Clear()
                                                 .IsEqualTo("Es igual que")
                                                 .IsGreaterThan("Es mayor que")
                                                 .IsLessThan("Es menor que")
                                                 .IsLessThanOrEqualTo("Es menor o igual que")
                                                 .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                 .IsNotEqualTo("No es igual que")
                                                  )
                                               ))
                                                  .ToolBar(tools =>
                                                  {
                                                      if (Model.editar == 1)
                                                      {
                                                          tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                                                          .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddGoodsDeliveredDetalle();" });
                                                      }

                                                      tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                                                      tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });


                                                  })
                                                   .Editable(e => e.Mode(GridEditMode.PopUp))
                                                    .Sortable()
                                                    .AutoBind(true)
                                                    .Pageable()
                                                    .Filterable()
                                                    .Scrollable()
                                                    // .ClientDetailTemplateId("template")
                                                    .Pdf(pdf => pdf.FileName("ReciboMercaderiaDetalleReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                                    .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                                      .Excel(excel => excel.FileName("ReciboMercaderiaDetalleReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                                    .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                                    //.Events(e=>e.Save("onsave"))
                                                    .DataSource(dataSource =>

                                                   dataSource
                                                   //.Ajax()
                                                   .WebApi()

                                                    .ServerOperation(true)
                                                    .Model(model =>
                                                    {
                                                        model.Id(p => p.GoodsDeliveryAuthorizationLineId);
                                                        model.Field(p => p.GoodsDeliveryAuthorizationLineId).Editable(false);
                                                        model.Field(p => p.GoodsDeliveryAuthorizationId).Editable(false);
                                                // model.Field(p => p.ControlPalletsId).Editable(true);

                                            })
                                                    .Events(events =>
                                                    {
                                                        events.Sync("CalcularTotalDocumento");
                                                        events.Error("error_handler");
                                                //events.upda("EditHandler");

                                            })
                                                    .Read(read => read.Action("GetGoodsDeliveryAuthorizationLineById", "GoodsDeliveryAuthorizationLine").Data("GetGoodsDeliveredLineId"))
                                                    //.Create(create => create.Action("Insert", "SalesOrderLine"))
                                                    //.Update(update => update.Action("Update", "SalesOrderLine", new { SalesOrderLineId = "{0}" }))
                                                    .Destroy(destroy => destroy.Action("Delete", "GoodsDeliveryAuthorizationLine").Type(HttpVerbs.Post))
                                              )
        )

    </div>
</div>


<script>

</script>