@model IEnumerable<ERPMVC.Models.Currency>
@{
    ViewData["Title"] = "Moneda";
}
<script>

    //-- Agregar --

    function AddCurrency() {

         var dataObject = {
             CurrencyId: 0
        };

        $.ajax({
            url: '@Url.Action("pvwAddCurrency", "Currency")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
                $("#numCurrency").html('');
                $("#numCurrency").html(result);
                //$("#btnGuardarUoM").show();
                $("#titulo").text("Agregar Moneda");

                //Mostrar modal con la información
                $('#Modal').modal('show');
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 swal("Error", textStatus, "error");
              }
        });


    }

    //-- Editar --
    function EditCurrency(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dataObject = {
            CurrencyId: dataItem.CurrencyId
        };
        $.ajax({
            url: '@Url.Action("pvwAddCurrency", "Currency")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            //data: { Id: dataItem.CurrencyId },
            success: function (result) {
                $("#numCurrency").html('');
                $("#numCurrency").html(result);
                //$("#btnGuardar").hide();
                $("#titulo").text("Editar Unidad");
                //Mostrar modal con la información
                $('#Modal').modal('show');

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 swal("Error", textStatus, "error");
              }
        });
    }

</script>

<h3 class="text-themecolor">Unidades de Medida</h3>


@(Html.Kendo().Grid<ERPMVC.Models.Currency>()
                                          .Name("grid")
                                          .Columns(columns =>
                                          {
                                              columns.Command(command =>
                                              {
                                      //command.Custom("Ver detalles").Click("Detalles");
                                      command.Custom("Editar").Click("EditCurrency");
                                              }).Width(100);
                                              columns.Bound(p => p.CurrencyId).Width(100).Title("No");
                                              columns.Bound(p => p.Description).Width(200).Title("Currency");
                                              //columns.Bound(p => p.Estado).Width(160).Visible(false);
                                              columns.Bound(p => p.FechaModificacion).Format("{0:dd/MM/yyyy}").Width(150);
                                  //columns.Bound(p => p.ConcurrencyStamp).Width(150);

                              })
                                              .Filterable(f => f.Operators(o => o.ForString(s => s
                                                               .Clear()
                                                               .Contains("Contiene")
                                                               .DoesNotContain("No contiene")
                                                               .EndsWith("Termina con")
                                                               .IsEqualTo("Es igual a")
                                                               .IsNotEqualTo("No es igual a")
                                                               .IsNull("Es nulo")
                                                               .StartsWith("Inicia con")


                                                         )
                                                         .ForNumber(n => n
                                                           .Clear()
                                                           .IsEqualTo("Es igual a")
                                                           .IsGreaterThan("Es mayor que")
                                                           .IsLessThan("Es menor que")
                                                           .IsNull("Es nulo")
                                                           .IsLessThanOrEqualTo("Es menor o igual que")
                                                           .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                         )
                                                         .ForDate(d => d
                                                         .Clear()
                                                         .IsEqualTo("Es igual que")
                                                         .IsGreaterThan("Es mayor que")
                                                         .IsLessThan("Es menor que")
                                                         .IsLessThanOrEqualTo("Es menor o igual que")
                                                         .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                         .IsNotEqualTo("No es igual que")
                                                          )
                                                       ))
                                          .ToolBar(tools =>
                                          {
                                              tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus").HtmlAttributes(new { @onclick = "AddCurrency();" });
                                  //tools.Excel().HtmlAttributes(new { @class = "toolbar-field" });
                                  //tools.Pdf().HtmlAttributes(new { @class = "toolbar-field" });


                              })
                                           .Editable(e => e.Mode(GridEditMode.PopUp))
                                           .Sortable()
                                           .Pageable()
                                           .Filterable()
                                           .Scrollable()
                                           .Pdf(pdf => pdf.FileName("CurrencyReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                           + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                           .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                             .Excel(excel => excel.FileName("CurrencyReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                           + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                           .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                           .DataSource(dataSource =>
                                              dataSource
                                                .WebApi()
                                                .ServerOperation(true)
                                                .Model(model =>
                                                {
                                                    model.Id(p => p.CurrencyId);
                                                    model.Field(p => p.CurrencyId).Editable(false);


                                                })
                                                .Events(events => events.Error("error_handler"))
                                                .Read(read => read.Action("GetCurrency", "Currency"))
                                                .Create(create => create.Action("Insert", "Currency"))
                                                .Update(update => update.Action("Update", "Currency", new { id = "{0}" }))
                                                .Destroy(destroy => destroy.Action("Delete", "Currency", new { id = "{0}" }))
                                          )
)
<div id="numCurrency">
    @await Html.PartialAsync("pvwCurrency", new ERPMVC.DTO.CurrencyDTO())
</div>
