@model ERPMVC.DTO.CurrencyDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                    {"required","Valor requerido" }
                };
}





<div id="ModalCurrency" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="title">Moneda</h4>
            </div>
            <form id="frmCurrency" kendo-validator="true" kendo-messages="messages"
                  data-ajax="true"
                  data-ajax-method="post"
                  method="post" class="validation-wizard wizard-circle">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CurrencyId" class=" control-label" style="width:100%">Id Moneda</label>
                                <input type="text" asp-for="CurrencyId" name="CurrencyId" class="form-control" disabled="disabled" style="width:100%" />
                                <span asp-validation-for="CurrencyId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CurrencyName" class=" control-label" style="width:100%">Nombre Moneda</label>
                                <input type="text" asp-for="CurrencyName" name="CurrencyName" class="form-control" style="width:100%" />
                                <span asp-validation-for="CurrencyName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CurrencyCode" class=" control-label" style="width:100%">Codigo Moneda</label>
                                <input type="text" asp-for="CurrencyCode" name="CurrencyCode" class="form-control" autocomplete="off" style="width:100%" />
                                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Description" class=" control-label" style="width:100%">Descripcion</label>
                                <input type="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="width:100%" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>



                    </div>
                    <div class="row" hidden>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="IdEstado" class="control-label">Estado: </label>
                                <kendo-dropdownlist name="IdEstado" for="@Model.IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    @*option-label="Seleccionar Estado" *@
                                                    datatextfield="NombreEstado"
                                                    datavaluefield="IdEstado"
                                                    style="min-width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                        <transport>
                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCurrency" class="btn btn-success" type="button" onclick="SaveCurrency(this)"> Guardar </button>
                    <button type="button" name="btnprueba" class="close" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {
        var grid = $("#grid").getKendoGrid();
        grid.dataSource.read();

    }
        function SaveCurrency(e) {

            var notification = $("#notification").data("kendoNotification");
           
            var displayedData = $("#gridCurrency").data().kendoGrid.dataSource.view();

            var dataObject = {'CurrencyId': $("#CurrencyId").val()===""?"0":$("#CurrencyId").val(),
                           'CurrencyName': $("#CurrencyName").val(),
                           'CurrencyCode': $("#CurrencyCode").val(),
                           'Description': $("#Description").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),                           
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_Currency': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmCurrency").data("kendoValidator");
                 var status = $(".status");

            if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCurrency", "Currency")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            swal("Moneda","Datos Guardados","success");
                            RefrescarGrid();
                            $('#ModalCurrency').modal('hide');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            swal("Error","Error","error")
                           

                        }
                    });

                }
                else {
                    
                }
            }
            

    }
</script>
