@model ERPMVC.Models.CustomerPartners

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        {"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Largo" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "UsedArea" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Ancho" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Alto" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closeCustomer() {
        $('#myModalCustomerPartner').find(':input').not(':submit').val('0');
        // $('#myModalCustomerPartner').find(':select').not(':submit').val('0');
        //$("#ProductId").data("kendoDropDownList").value(0);
        //$("#BranchId").data("kendoDropDownList").value(0);
        //$("#TypeId").data("kendoDropDownList").value(0);
        //$("#CustomerId").data("kendoDropDownList").value(0);

        RefreshGridCustomerPartners();
        $("#myModalCustomerPartner").modal('hide');
    }

    function RefreshGridCustomerPartners() {
        var grid = $("#gridCustomerPartners").getKendoGrid();
        grid.dataSource.read();
        grid.refresh();
    }
</script>

@await Html.PartialAsync("~/Views/OFAC/Index.cshtml")

@await Html.PartialAsync("~/Views/PEPS/PEPSFind.cshtml")

@await Html.PartialAsync("~/Views/BlackListCustomers/BlackListFind.cshtml")

@await Html.PartialAsync("~/Views/ONU/ONULISTFind.cshtml")


<div id="myModalCustomerPartner" class="modal fade" style="min-width:90%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCustomer();">&times;</button>
                <h4 class="modal-title">Información Socios por cliente</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmCustomerPartners" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="PartnerId" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="PartnerId"
                                                                          format="n"
                                                                          enable="false"
                                                                          min="0"
                                                                          style="width:100%"
                                                                          step="1"
                                                                          value="Model.PartnerId"></kendo-numerictextbox>

                                                    <span asp-validation-for="PartnerId" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function CustomerPartners() {

                                                           // hcustom = $("#CustomerId").val();
                                                          //  $("#CustomerPartnersProduct").data("kendoMultiSelect").dataSource.read();

                                                        }
                                                    </script>
                                                    <label asp-for="CustomerId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist for="@Model.CustomerId"
                                                                        id="CustomerIdCP"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Select CustomerId"
                                                                        enable="false"
                                                                        required
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                       
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PartnerName" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="PartnerName" asp-for="PartnerName" class="k-textbox" onchange="RefreshOFAC();" style="min-width:100%" />
                                                    <span asp-validation-for="PartnerName" class="text-danger"></span>
                                                    <button type="button" onclick="return RefreshOFAC();" class="k-button k-primary"><i class="fa fa-search"></i>LISTADOS</button>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Telefono" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="TelefonoCP" asp-for="Telefono" class="k-textbox" style="min-width:100%" />
                                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Correo" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="CorreoCP" asp-for="Correo" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="RTNCP" asp-for="RTN" class="k-textbox" style="min-width:100%" />
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>




                                    </form>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <button id="btnSaveCustomerPartners" type="submit" class="form-control btn-miboton" onclick="SaveCustomerPartners(this);">Guardar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveCustomerPartners(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveCustomerPartners").hide();
        $("#btnSaveCustomerPartners").prop("disabled", true);


        var listadoenqueaparece = "";
        var gridListaOFAC = $("#gridListaOFAC").data().kendoGrid.dataSource.data();
        var gridListaPEPS = $("#gridListaPEPS").data().kendoGrid.dataSource.data();
        var gridListaNegra = $("#gridListaNegra").data().kendoGrid.dataSource.data();
        var gridListaONU = $("#gridListaONU").data().kendoGrid.dataSource.data();
        debugger;

        //var confirmaexpecion = false;
        //var idEstado = 6;
        //var Estado = 'Aprobado';
        //if ($("#IdEstado").val() != null) {
        //    Estado = $("#IdEstado").data("kendoDropDownList").text();
        //}

        if (
            gridListaPEPS.length > 0

        ) {
            listadoenqueaparece += gridListaPEPS.length > 0 ? "PEPS" : "";
        }
        else if (gridListaOFAC.length > 0
            || gridListaNegra.length > 0
            || gridListaONU.length > 0
        ) {
            listadoenqueaparece += gridListaOFAC.length > 0 ? "OFAC" : "";
            listadoenqueaparece += gridListaNegra.length > 0 ? "ListaNegra" : "";
            listadoenqueaparece += gridListaONU.length > 0 ? "ListadoONU" : "";
        }
        //var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();

        var dataObject = {
            'PartnerId': $("#PartnerId").val(),
            'CustomerId': $("#CustomerIdCP").val(),
            'PartnerName': $("#PartnerName").val(),
            'RTN': $("#RTNCP").val(),
            'Telefono': $("#TelefonoCP").val(),
            'Correo': $("#CorreoCP").val(),
            'Listados': listadoenqueaparece
        };

        var validator = $("#frmCustomerPartners").data("kendoValidator");
        //var validator2 = $("#TotalesDocumento").data("kendoValidator");
       // var status = $(".status");

       // if (displayedData.length > 0) {
            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveCustomerPartners", "CustomerPartners")',
                    method: 'POST',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify( dataObject),
                    success: function (data) {

                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        //RefreshGridEstibas();
                       // $('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveCustomerPartners").show();
                        $("#btnSaveCustomerPartners").prop("disabled", false);
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                $("#btnSaveCustomerPartners").show();
                $("#btnSaveCustomerPartners").prop("disabled", false);

            }
        //}
        //else {
        //    $("#btnSaveControlEstiba").show();
        //    $("#btnSaveControlEstiba").prop("disabled", false);
        //    notification.show({
        //        title: "Validacion",
        //        message: "Debe agregar los productos!"
        //    }, "error");

       // }



    }
</script>