@model ERPMVC.DTO.PuestoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}


<div id="ModalPuesto" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Puesto</h4>
                <button type="button" class="close" onclick="CerrarModal()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmPuesto" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SavePuesto"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">

                                            <div class="col-md-4" hidden>
                                                <div class="form-group">
                                                    <label asp-for="IdPuesto" class=" control-label" style="width:100%">Id Puesto</label>
                                                    <input type="text" asp-for="IdPuesto" name="IdPuesto" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdPuesto" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="NombrePuesto" class=" control-label" style="width:100%">Nombre</label>
                                                    <input type="text" asp-for="NombrePuesto" name="NombrePuesto" onkeyup="this.value=Numeros(this.value)" class="form-control" maxlength="200" required data-required-msg="El Nombre Puesto es requerido." autocomplete="off" style="width:100%" onkeypress="return soloLetras(event)" onchange="PrevenirCambios()" />
                                                    <span asp-validation-for="NombrePuesto" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="IdDepartamento" class="control-label">Departamento</label>
                                                    <kendo-dropdownlist name="IdDepartamento"
                                                                        required data-required-msg="El Departamento es requerido."
                                                                        for="@Model.IdDepartamento"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Departamento"
                                                                        datatextfield="NombreDepartamento"
                                                                        datavaluefield="IdDepartamento"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Departamento")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnPuesto" class="btn btn-success" type="button" onclick="SavePuesto()"> Guardar </button>
                                            <button type="button" class="btn btn-default" onclick="CerrarModal()">Cerrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //no permite copiar
    //window.onload = function () {
    //var myInput = document.getElementById('NombrePuesto');
    //myInput.onpaste = function (e) {
    //    e.preventDefault();
    //    }
    //}

    //la primera letra sea mayuscula
    function Numeros(string) {
        debugger
        var NombrePuesto = $("#NombrePuesto").val();
        if (NombrePuesto != "") {
            if (NombrePuesto.length <= 1) {
                return NombrePuesto.charAt(0).toUpperCase() + NombrePuesto.slice(1);
            }
        }
        return string;
    }
    //Funcion no aceptar espacios en el textbox
    document.addEventListener("input", function () {
        $("input[type='text']", 'form').each(function () {
            _id = $(this).attr("id");
            _value = document.getElementById(_id).value;
            document.getElementById(_id).value = _value.trimStart();
        });
    })
    

    var changes = false;
    function PrevenirCambios() {
        //if (document.frmPuesto.NombrePuesto.value.split('  ').length >= 2) {
        //    alert('Hay mas de 2 Espacios Juntos');
        //    //document.frmPuesto.NombrePuesto.value = '';
        //    document.frmPuesto.NombrePuesto.value = _value.trimStart();
        //}
        changes = true;
    }
    function CerrarModal() {
        if (changes) {
            swal({
                title: "Cerrar",
                text: "Los datos que aun no se han guardado del formulario se perderan ¿Desea Continuar? ",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
                //closeOnConfirm: false
            }, function () {
                $('#ModalPuesto').modal('hide');
            });
        } else {
            $('#ModalPuesto').modal('hide');
        }
    }
    function RefreshGrid() {

        var grid = $("#grid").getKendoGrid();
        grid.dataSource.read();
    }

    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz0123456789";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
    function RefrescarGrid() {
        var grid = $("#gridPuesto").getKendoGrid();
        grid.dataSource.read();
    }
        function SavePuesto(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            //$("#btnPuesto").hide();
            //$("#btnPuesto").prop("disabled", true);

            var displayedData = $("#gridPuesto").data().kendoGrid.dataSource.view();

            var dataObject = {
                'IdPuesto': $("#IdPuesto").val() === "" ? "0" : $("#IdPuesto").val(),
                'NombrePuesto': $("#NombrePuesto").val(),
                'IdDepartamento': $("#IdDepartamento").val(),
                'NombreDepartamento': $("#IdDepartamento").data("kendoDropDownList").text(),
            };

            console.log(dataObject)


            var validator = $("#frmPuesto").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SavePuesto", "Puesto")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            swal("Puesto", "Guardado Satisfactoriamente", "success");
                            RefrescarGrid();

                            $('#ModalPuesto').modal('hide');
                            window.addEventListener("keyup", function (event) {
                                var codigo = event.keyCode || event.which;
                                if (codigo == 13) {
                                    //Cierras tu ventana
                                }
                            }, false);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            swal(textStatus + ": " + XMLHttpRequest.responseText);

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validacion",
                        message: "Datos invalidos en el formulario!"
                    }, "error");
                }


            $("#btnPuesto").show();
            $("#btnPuesto").prop("disabled", false);
    }
</script>
