


<script>
    function LlenarRecibo() {
        var dataObject = {
            'GoodsReceivedId': $("#cbxBuscarGoodsReceived").val()
        };
        $.ajax({
            url: '@Url.Action("GetGoodsReceivedById", "GoodsReceived")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (data) {
               // console.log(data);

                $("#clienterecibo").text(data.CustomerName);
                $("#FechaRecibo").text(data.DocumentDate);
                $("#FechaDeVencimiento").text(data.ExpirationDate);
                $("#idrecibo").text(data.GoodsReceivedId);
               //$("#SubTotalRead").text(data.SubTotal);
               //$("#TotalRead").text(data.Total);
                var trHTML = '';
                for (var f = 0; f < data._GoodsReceivedLine.length; f++) {
                    trHTML += '<tr>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].GoodsReceiveLinedId + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].GoodsReceivedId + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].SubProductName + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].UnitOfMeasureName + '</td>';              
                    trHTML += '<td>' + data._GoodsReceivedLine[f].Quantity + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].Price + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].Total + '</td>';
                    trHTML += '</tr>';  
                }
                $('#bodyrecibomercaderia').html(trHTML);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    }
</script>



<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>Recibo de Mercadería</b> <span class="pull-right" id="idrecibo"></span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <h3> &nbsp;<b class="text-danger">ALMACAFE </b></h3>
                            <p class="text-muted m-l-5" id="direccionempresa">
                               
                            </p>
                        </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                            <h3>Para</h3>
                            <h4 class="font-bold" id="clienterecibo"></h4>
                            <p class="text-muted m-l-30" id="Direccion">
                               
                            </p>
                            <p class="m-t-30"><b>Fecha de documento :</b> <i class="fa fa-calendar"></i> <p id="FechaRecibo">dd/MM/yyyy</p></p>
                            <p><b>Fecha de vencimiento :</b> <i class="fa fa-calendar"></i> <p id="FechaDeVencimiento">dd/MM/yyyy</p></p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th >Id Linea</th>
                                    <th >Id</th>
                                    <th>Producto</th>
                                    <th>Unidad de medida</th>
                                    <th class="text-right">Cantidad</th>
                                    <th class="text-right">Precio</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody id="bodyrecibomercaderia">
                                @*<tr>
                                    <td class="text-center">1</td>
                                    <td>Milk Powder</td>
                                    <td class="text-right">2 </td>
                                    <td class="text-right"> $24 </td>
                                    <td class="text-right"> $48 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Air Conditioner</td>
                                    <td class="text-right"> 3 </td>
                                    <td class="text-right"> $500 </td>
                                    <td class="text-right"> $1500 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>RC Cars</td>
                                    <td class="text-right"> 20 </td>
                                    <td class="text-right"> %600 </td>
                                    <td class="text-right"> $12000 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td>Down Coat</td>
                                    <td class="text-right"> 60 </td>
                                    <td class="text-right">$5 </td>
                                    <td class="text-right"> $300 </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p id="SubTotalRead">Sub - Total : 0.00</p>
                        
                        <hr>
                        <h3><b>Total :</b><p id="TotalRead">0.00</p></h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        @*<button class="btn btn-danger" type="submit"> Proceed to payment </button>*@
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Imprimir</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
