@model ERPMVC.DTO.CertificadoDepositoDTO

@using Syncfusion.JavaScript

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" report-print="onPrintReport"  processing-mode="Remote" ajax-before-load="ajaxBeforeLoad" report-service-url="/ReportViewer"  report-loaded="onReportLoaded" report-path="/ReportsTemplate/CertificadoDeDeposito.rdl" />
</div>


<script type="text/javascript">

    function ajaxBeforeLoad(event) {
        var parameters = [{
            name: 'IdCD',
            labels: ['@Model.IdCD'],
            values: [@Model.IdCD],
            nullable: false
        }
        ];
        event.data = parameters;
    }; 

    function onReportLoaded(sender) {
        var reportObj = $('#reportviewer1').data("ejReportViewer");
        reportObj.model.parameters = [{
            name: 'IdCD',
            labels: ['@Model.IdCD'],
            values: ['@Model.IdCD'],
            nullable: false
        }
        ];
    }

    function onPrintReport(args) {
        args.isStyleLoad = false;
        var data = $("#reportviewer1").data('ejReportViewer');
        if (data._browserInfo.name != "msie") {
            args.printWind.printDelay = 2000 * data._pageModel.TotalPages;
        }
    }

</script>


<ej-script-manager></ej-script-manager>