@model ERPMVC.DTO.CustomerTypeDTO

@{Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Requerido" },
                                {"required","Requerido" }
                            };
}




<div id="ModalCustomerType" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titulo">Tipo de Cliente</h4>
                <button type="button" class="close" onclick="CerrarModal()" aria-hidden="true">×</button>
            </div>
            <form id="frmCustomerType" kendo-validator="true"  kendo-messages="messages"  onsubmit="return false"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-begin="SaveCustomerType"
                  class="validation-wizard wizard-circle">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" hidden>
                            <div class="form-group">
                                <label asp-for="CustomerTypeId" class=" control-label" style="width:100%"></label>
                                <input type="text" asp-for="CustomerTypeId" name="CustomerTypeId" class="form-control" style="width:100%" />
                                <span asp-validation-for="CustomerTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label  class=" control-label" style="width:100%">Tipo Cliente</label>
                                <input type="text" asp-for="CustomerTypeName" name="CustomerTypeName" maxlength="50" autocomplete="off" class="form-control" style="width:100%" onchange="PrevenirCambios()" required data-required-msg="El tipo de Cliente es Requerido."  />
                                <span asp-validation-for="CustomerTypeName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label  class=" control-label" style="width:100%">Descripción</label>
                                <input type="text" asp-for="Description" maxlength="150" name="Description" required data-required-msg="La Descripcion es Requerido."  class="form-control" autocomplete="off" style="width:100%"  onchange="PrevenirCambios()"/>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" hidden>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Estado" class="control-label"></label>
                                <kendo-dropdownlist name="IdEstado"
                                                    for="@Model.IdEstado"
                                                    option-label="Seleccione un Estado"
                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    datatextfield="NombreEstado"
                                                    datavaluefield="IdEstado"
                                                     value="1"
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                        <transport>
                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCustomerType" class="btn btn-success" type="submit" onclick="SaveCustomerType(this);"> Guardar </button>
                    <button type="button" class="btn btn-default"  onclick="CerrarModal()">Cerrar</button>
                </div>

            </form>

        </div>
    </div>
</div>





<script>
        var changes = false;

        function PrevenirCambios() {
            changes = true;
        }
        function CerrarModal() {
            if (changes) {
                swal({
                    title: "Cerrar",
                    text: "Los que aun no se han guardado del formulario se perderan ¿Desea Continuar? ",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar"
                    //closeOnConfirm: false
                }, function () {
                    $('#ModalCustomerType').modal('hide');
                });
            } else {
                $('#ModalCustomerType').modal('hide');
            }
        }


        function RefrescarGrid() {
            var grid = $("#gridCustomerType").getKendoGrid();
            grid.dataSource.read();
        }

        function SaveCustomerType(e) {
            debugger;
           // var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnCustomerType").hide();
            $("#btnCustomerType").prop("disabled", true);

            var displayedData = $("#gridCustomerType").data().kendoGrid.dataSource.view();

            var dataObject = {'CustomerTypeId': $("#CustomerTypeId").val()===""?"0":$("#CustomerTypeId").val(),
                           'CustomerTypeName': $("#CustomerTypeName").val(),
                           'Description': $("#Description").val(),
                           'IdEstado': $("#IdEstado").val(),
                           '_CustomerType': displayedData
            };

            var validator = $("#frmCustomerType").data("kendoValidator");
                 var status = $(".status");
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCustomerType", "CustomerType")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            swal("Tipo de Cliente", "Se han guardado los Cambios", "success");

                            RefrescarGrid();
                            $('#ModalCustomerType').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            swal(textStatus + ": " + XMLHttpRequest.responseText);
                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnCustomerType").show();
            $("#btnCustomerType").prop("disabled", false);
    }
</script>
