@model ERPMVC.DTO.DepartamentoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
            {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }
</script>



<div id="ModalDepartamento" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Departamento</h4>
                <button type="button" class="close" onclick="CerrarModal()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmDepartamento" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveDepartamento"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4" hidden>
                                                <div class="form-group">
                                                    <label asp-for="IdDepartamento" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdDepartamento" name="IdDepartamento" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="NombreDepartamento" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NombreDepartamento" maxlength="200" required data-required-msg="El Nombre del departamento es requerido." onchange="PrevenirCambios()" name="NombreDepartamento" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class=" col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado" enable="true"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        required data-required-msg="El estado del es requerido."
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetEstadoByGrupo", "Estados", new { pIdEstado = 1 })" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnDepartamento" class="btn btn-success" onclick="SaveDepartamento(this);" type="submit"> Guardar </button>
                                            <button type="button" class="btn btn-default" onclick="CerrarModal()">Cerrar</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var changes = false;

    function PrevenirCambios() {
        changes = true;
    }
    function CerrarModal() {
        if (changes) {
            swal({
                title: "Cerrar",
                text: "Los datos que aun no se han guardado del formulario se perderan ¿Desea Continuar? ",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                cancelButtonText: "Cancelar",
                confirmButtonText: "Aceptar"
            }, function () {
                $('#ModalDepartamento').modal('hide');
            });
        } else {
            $('#ModalDepartamento').modal('hide');
        }
    }
    function SaveDepartamento(e) {
            debugger
            var notification = $("#notification").data("kendoNotification");
            $("#btnDepartamento").hide();
            $("#btnDepartamento").prop("disabled", true);

            var displayedData = $("#gridDepartamento").data().kendoGrid.dataSource.view();

        var dataObject = {
            'IdDepartamento': $("#IdDepartamento").val() === "" ? "0" : $("#IdDepartamento").val(),
            'NombreDepartamento': $("#NombreDepartamento").val(),
            'IdEstado': $("#IdEstado").val(),
            'Estado': $("#IdEstado").data("kendoDropDownList").text(),
            '_Departamento': displayedData
            };

        var validator = $("#frmDepartamento").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveDepartamento", "Departamento")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            swal("Departamento", "Almacenado con éxito", "success");
                            RefrescarGrid();

                            $('#ModalDepartamento').modal('hide');
                            window.addEventListener("keyup", function (event) {
                                var codigo = event.keyCode || event.which;
                                if (codigo == 13) {
                                }
                            }, false);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            swal("Error", "Nombre ya existente", "error");
                        }
                    });

                }
               else {
                    status.text("Datos invalidos en el formulario!")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            

            $("#btnDepartamento").show();
            $("#btnDepartamento").prop("disabled", false);
    }

    document.addEventListener("input", function () {
        $("input[type='text']", 'form').each(function () {
            _id = $(this).attr("id");
            _value = document.getElementById(_id).value;
            document.getElementById(_id).value = _value.trimStart();
        });
    });
</script>
