@model ERPMVC.Models.KardexViale

@using Syncfusion.JavaScript

<div style=" align-items:center; height:525px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" processing-mode="Remote" ajax-before-load="ajaxBeforeLoad" report-service-url="/ReportViewer"  report-loaded="onReportLoaded"  locale="es-ES" report-path="/ReportsTemplate/KardexVIALE.rdl" />
    @*<ej-report-viewer id="reportviewer1" report-service-url="https://localhost:44329/Home" report-server-url="https://localhost:44329/" report-path="/ReportsTemplate/Sales Order Detail.rdl" />*@
</div>


<script type="text/javascript">


    @*function ajaxBeforeLoad(event) {
        var parameters = [{
            name: 'KardexId',
            labels: ['@Model.KardexId'],
            values: [@Model.KardexId],
            nullable: false
        }
        ];
        event.data = parameters;
    };*@ 

    @*function onReportLoaded(sender) {

        var reportObj = $('#reportviewer1').data("ejReportViewer");
        console.log('Llega al ReportLoaded');
        reportObj.model.parameters = [{
            name: 'Id',
            labels: ['@Model.Id'],
            values: ['@Model.Id'],
            nullable: false
        }
        ];
    }*@

</script>


<ej-script-manager></ej-script-manager>