@model ERPMVC.DTO.DocumentoDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <h4 class="card-title" id="titulo">@Model.Title</h4>
    <div class="d-flex">
        <div class="align-self-center">
            <h4 class="font-medium m-b-0"><i class="ti-angle-up text-success"></i><p id="totalcotizaciones">@Model.DocumentId</p> </h4>
        </div>
        <div class="ml-auto">
            <div id="spark8"></div>
        </div>
    </div>
</div>