@using Kendo.Mvc.UI


@model ERPMVC.Models.ApplicationUserRole

@{
    Layout = null;
}

<script>
    function ParametersFormRoleId() {
        return { RoleId:  @Model.RoleId
        };
    }
</script>


<h1>Agregar rol y usuario</h1>


@(Html.Kendo().DropDownList()
      .Name("UserId")
      .DataValueField("UserId")
      .DataTextField("UserName")
      .Filter(Kendo.Mvc.UI.FilterType.Contains)
      //  .Events(e=>e.Select("userf"))
      //.AutoBind(true)
      .Enable(true)
      .DataSource(Source => Source.Read(r => r.Action("GetJsonUsersByRoleId", "UserRol")))
)


@(Html.Kendo().DropDownList()
  .HtmlAttributes(new { data_bind="value:RoleId"})
  .Name("RoleId")
  .DataValueField("RoleId")
  .DataTextField("RoleName")
   .Filter(Kendo.Mvc.UI.FilterType.Contains)
  //.Events(e=>e.Select("rolf"))
  //.AutoBind(true)
  .Enable(true)
  .DataSource(Source => Source.Read(r => r.Action("GetJsonRolesByUserId", "UserRol")))

)


@(Html.Kendo().Button().Events(e=>e.Click(""))
 )

<script>
    function SaveUserRole() {

    }
</script>