@using Microsoft.AspNetCore.Http;
@{ 
    ViewData["Title"] = "Cambiar Contraseña";
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
        {"required","Requerido" }};
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="frmChangePassword"
                      kendo-validator="true" kendo-messages="messages"
                      data--ajax="true"
                      data-ajax-begin="SaveChangePassword">
                    <h3 class="box-title m-b-20">Cambiar Contraseña</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="PasswordPrevio" type="password" required placeholder="Password Actual">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="Password1" type="password" required  data-val-required="Ingrese nueva contraseña" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="Password2" type="password" required data-val-required="Confirme la Contraseña" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" disabled id="Email" placeholder="Email" value="@Context.Session.GetString("user")">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" onclick="SaveChangePassword();" type="button">Cambiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    function SaveChangePassword() {
            debugger;
        $("#btnSaveUserRol").hide();
        $("#btnSaveUserRol").prop("disabled", true);
        var validator = $("#frmChangePassword").data("kendoValidator");
            


        if (validator.validate()) {
                if ($("#Password1").val() == $("#Password2").val()) {
                
                var dataObject = {
                'Email': $("#Email").val(),
                'Password': $("#Password1").val(),
                'PasswordAnterior': $("#PasswordPrevio").val()
                };

            if ($("#Password1").val() == $("#PasswordPrevio").val()) {         
                $.toast({
                heading: 'Error',
                            text: 'La nueva contraseña no puede ser igual a la actual',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 8000,
                            stack: 6
                        });

                $("#btnSaveUserRol").show();
                $("#btnSaveUserRol").prop("disabled", false);
                return;

            }
                $.ajax({
                url: '@Url.Action("ChangePassword", "Usuario")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                        $.toast({
                        heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 8000,
                            stack: 6
                        });
                        window.location.href = '@Url.Action("Index","Home")';
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveUserRol").show();
                        $("#btnSaveUserRol").prop("disabled", false);
                        
                        $.toast({
                        heading: 'Error',
                            text: textStatus + ": " + XMLHttpRequest.responseText,
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 8000,
                            stack: 6
                        });

                    }
                });
            }
            else {
                $("#btnSaveUserRol").show();
                $("#btnSaveUserRol").prop("disabled", false);
            }
        }
        else {
            $.toast({
        heading: 'Error',
                            text: 'Complete los Campos',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 8000,
                            stack: 6
                        });

            $("#btnSaveUserRol").show();
            $("#btnSaveUserRol").prop("disabled", false);
    }
}
</script>


