@using Microsoft.AspNetCore.Http;

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="frmChangePassword"
                      kendo-validator="true"
                      data--ajax="true"
                      data-ajax-begin="SaveChangePassword">
                    <h3 class="box-title m-b-20">Cambiar Contraseña</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="PasswordPrevio" type="password" required="" placeholder="Password Actual">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="Password1" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" id="Password2" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" disabled id="Email" placeholder="Email" value="@Context.Session.GetString("user")">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" onclick="SaveChangePassword();" type="button">Cambiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    function SaveChangePassword() {
        var notification = $("#notification").data("kendoNotification");
        $("#btnSaveUserRol").hide();
        $("#btnSaveUserRol").prop("disabled", true);


        if ($("#Password1").val() == $("#Password2").val()) {
            var validator = $("#frmChangePassword").data("kendoValidator");
            var dataObject = {
                'Email': $("#Email").val(),
                'Password': $("#Password1").val(),
                'PasswordAnterior': $("#PasswordPrevio").val()
            };


            if (validator.validate()) {
                $.ajax({
                    url: '@Url.Action("ChangePassword", "Usuario")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 8000,
                            stack: 6
                        });
                        window.location.href = '@Url.Action("Index","Home")';
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveUserRol").show();
                        $("#btnSaveUserRol").prop("disabled", false);
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });
            }
            else {
                $("#btnSaveUserRol").show();
                $("#btnSaveUserRol").prop("disabled", false);
            }
        }
        else {
            notification.show({
                title: "Validación",
                message:"Las contraseñas no coinciden"
            }, "error");

            $("#btnSaveUserRol").show();
            $("#btnSaveUserRol").prop("disabled", false);
        }
    }
</script>