@model ERPMVC.Models.Conditions

<script>

    function ParametersFormConditions() {
        return {
             'ConditionId': $("#ConditionId").val(),
             'ConditionName' : $("#ConditionName").val()             
        }
    }

    function SaveCondition() {
       // var notification = $("#notification").data("kendoNotification");
        $("#btnGuardarCondicion").prop('disabled', true);

        		$.ajax({
                url: '@Url.Action("SaveConditions", "Conditions")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(ParametersFormConditions()),
                    success: function (data) {                     
                        setearvalor("ConditionId", data.ConditionId);                      

                        $("#satisfactoriomsj").css('display', 'block');
                        $("#satisfactoriomsj").text('Datos guardados correctamente!');                      
                      

                                  
                   
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
				
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
		
		
		}
    
</script>


<div id="myModalConditions" class="modal fade" role="dialog" style="z-index:9999999">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button  type="button" class="close" onclick="closecondition();">&times;</button>
                <h4 class="modal-title">Detalle de condición</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-success" style="display:none" id="satisfactoriomsj"></div>
                <div class="row" id="validationcondition">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <form id="frmConditions"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCondition"
                                      data-ajax="true">
                                    <div class="form-body">
                                        <h3 class="card-title">Información Condiciones</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="ConditionId" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="ConditionId"
                                                                          format="n"
                                                                          min="0"
                                                                          spinners="false"
                                                                          style="width:100%"
                                                                          step="1"
                                                                          value="Model.ConditionId"></kendo-numerictextbox>

                                                    <span asp-validation-for="ConditionId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="ConditionName" class="control-label" style="min-width:100%"></label>
                                                    <input type="text" asp-for="ConditionName" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="ConditionName" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <button id="btnGuardarCondicion" type="submit" class="form-control btn-miboton">Guardar Condicion</button>
                                            <button id="btnCerrar" type="button" class="form-control btn-danger" onclick="closecondition();">Cerrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
</div>
</div>
</div>