@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Numeración SAR";
}



<script>

    function onsave(e) {
        //   console.log(new Date(e.model.FechaRecepcion).toISOString());
        // e.model.set('FechaRecepcion', new Date(e.model.FechaRecepcion).toISOString());
    }

    function caidata(data) {
        data.FechaRecepcion = data.FechaRecepcion.toISOString('yyyy-MM-dd');
        data.FechaLimiteEmision = data.FechaLimiteEmision.toISOString('yyyy-MM-dd');
    }

    function AddCai() {
        var validator = $("#frmNumeracion").data("kendoValidator");
        validator.hideMessages();
        var x = document.getElementsByClassName("k-invalid");
        if (x.length > 0) {
            $("span").removeClass("k-invalid");
        }
        $('#myModalNumeracion').find(':input').not(':submit').val('');
        $('#myModalNumeracion').modal('show');
        $("#IdNumeracion").val('0');
        $("#IdCAI").data("kendoDropDownList").value(0);
        $("#IdPuntoEmision").data('kendoDropDownList').value(0);
        $("#DocTypeId").data('kendoDropDownList').value(0);
        $("#BranchId").data("kendoDropDownList").value(0);
        $("#IdEstado").data('kendoDropDownList').value(0);
    }

         function EditNumeracion(e) {
             e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var dataObject = {
                IdNumeracion: dataItem.IdNumeracion,
                editar : 0
            };
             var puntoemision = 0;
            $.ajax({
                url: '@Url.Action("GripEditar","NumeracionSAR")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    $("#numsar").html('');
                    $("#numsar").html(result);

                    var txt = $(result);
                    var found = $("#IdPuntoEmision", txt);
                    puntoemision = $(found).val();
                    GetPuntoEmision();

                    $("#IdPuntoEmision").data("kendoDropDownList").value(puntoemision);

                  //  RefreshCotizacionesDetail();
                    $("#btnNunsar").hide();
                    $('#myModalNumeracion').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
         }
    function RefrescarGrid() {

        var grid = $("#gridNumeracionSAR").getKendoGrid();
        grid.dataSource.read();

    }
</script>


<h3 class="text-themecolor">Numeración SAR</h3>

@(Html.Kendo().Grid<ERPMVC.Models.NumeracionSAR>
                                        ()
                                        .Name("gridNumeracionSAR")
                                        .Columns(columns =>
                                        {
                                            columns.Command(command =>
                                            {
                                                //command.Custom("Ver detalles").Click("Detalles");
                                                command.Custom("Editar").Click("EditNumeracion").IconClass("fa fa-edit").Text(" ");
                                                command.Destroy().Text(" ").IconClass("fa fa-trash");
                                            }).Width(150).Title("Acciones");

                                            columns.Bound(p => p.IdNumeracion).Width(150);
                                            //columns.Bound(p => p.IdCAI).Width(150);
                                            columns.Bound(p => p._cai).Title("CAI").Width(350);
                                            columns.Bound(p => p.NoInicio).Width(180);
                                            columns.Bound(p => p.NoFin).Width(160);
                                            columns.Bound(p => p.FechaLimite).Title("Fecha Límite").Format("{0:dd/MM/yyyy}").Width(200);
                                            columns.Bound(p => p.CantidadOtorgada).Width(220);
                                            //columns.Bound(p => p.SiguienteNumero).Width(220);
                                            columns.Bound(p => p.PuntoEmision).Width(200);
                                            columns.Bound(p => p.DocType).Width(200);
                                            //columns.Bound(p => p.DocSubType).Width(170);
                                            columns.Bound(p => p.Estado).Width(150);



                                        })
                                .Filterable(f => f.Operators(o => o.ForString(s => s
                                       .Clear()
                                       .Contains("Contiene")
                                       .DoesNotContain("No contiene")
                                       .EndsWith("Termina con")
                                       .IsEqualTo("Es igual a")
                                       .IsNotEqualTo("No es igual a")
                                       .IsNull("Es nulo")
                                       .StartsWith("Inicia con")


                                 )
                                 .ForNumber(n => n
                                   .Clear()
                                   .IsEqualTo("Es igual a")
                                   .IsGreaterThan("Es mayor que")
                                   .IsLessThan("Es menor que")
                                   .IsNull("Es nulo")
                                   .IsLessThanOrEqualTo("Es menor o igual que")
                                   .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                 )
                                 .ForDate(d => d
                                 .Clear()
                                 .IsEqualTo("Es igual que")
                                 .IsGreaterThan("Es mayor que")
                                 .IsLessThan("Es menor que")
                                 .IsLessThanOrEqualTo("Es menor o igual que")
                                 .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                 .IsNotEqualTo("No es igual que")
                                  )
                               ))
                                        .ToolBar(tools =>
                                        {
                                            //tools.Create();
                                            tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                                                        .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddCai()" });

                                            tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                                            tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });

                                        })
                                        .Editable(e => e.Mode(GridEditMode.PopUp))
                                        .Sortable()
                                        .Pageable()
                                        .Filterable()
                                        .Scrollable()
                                        .Pdf(pdf => pdf.FileName("Numeracion SAR Reporte" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                        .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                            .Excel(excel => excel.FileName("Numeracion SAR Reporte_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                        .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                        .DataSource(dataSource =>
                                            dataSource
                                            .WebApi()

                                            .ServerOperation(true)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.IdNumeracion);
                                                model.Field(p => p.IdNumeracion).Editable(false);
                                                model.Field(p => p.FechaCreacion).Editable(true);
                                                model.Field(p => p.FechaLimite).Editable(true);
                                                model.Field(p => p.UsuarioCreacion).Editable(false);
                                                model.Field(p => p.UsuarioModificacion).Editable(false);

                                            })
                                            .Sort(s => s.Add(m => m.FechaCreacion).Descending())
                                            .Events(events => events.Error("error_handler"))
                                            .Read(read => read.Action("GetNumeracion", "NumeracionSAR"))
                                            .Create(create => create.Action("Insert", "NumeracionSAR").Type(HttpVerbs.Post))
                                            .Update(update => update.Action("Update", "NumeracionSAR", new { IdNumeracion = "{0}" }).Type(HttpVerbs.Put))
                                            .Destroy(destroy => destroy.Action("Delete", "NumeracionSAR", new { IdNumeracion = "{0}" }).Type(HttpVerbs.Delete))

                                        )
                                        .Events(e =>
                                        {
                                            e.Save("onsave");

                                        })
)

<div id="numsar">
    @await Html.PartialAsync("GripEditar", new ERPMVC.DTO.DTO_NumeracionSAR { IdNumeracion = 0, IdCAI = 0, FechaLimite=DateTime.Now })
</div>
<script>
    function setToolbarTooltip(btn_cl, btn_tooltip) {
        $("#gridNumeracionSAR").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    function setRowButtonTooltip(btn_cl, btn_tooltip) {
        $("#gridNumeracionSAR").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    setToolbarTooltip(".k-grid-Agregar", "Agregar nuevo registro");
    setRowButtonTooltip(".k-grid-delete", "Eliminar registro");
    setRowButtonTooltip(".k-grid-Editar", "Editar registro");
</script>
